<a href="https://colab.research.google.com/github/robertosgpontes/tec_prog_1/blob/main/Turma_922_Aula_6_(alunos).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Documentação completa do Pandas: https://pandas.pydata.org/docs/reference/frame.html

Mount do Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Leitura do DataFrame

In [52]:
import pandas as pd
from IPython.display import display, HTML

df = pd.read_csv('/content/sample_data/sales.csv')

display(HTML(df.to_html()))
#print(df)

Linhas e colunas

In [8]:
df.shape

(1000, 13)

DataTypes do DataFrame

In [12]:
df.dtypes

Invoice ID     int64
Date          object
Time          object
Gender        object
Location      object
City          object
Member        object
Category      object
Price          int64
Quantity       int64
Total          int64
Payment       object
Rating         int64
dtype: object

Informações do DataFrame

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Invoice ID  1000 non-null   int64
 1   Date        1000 non-null   object
 2   Time        1000 non-null   object
 3   Gender      1000 non-null   object
 4   Location    1000 non-null   object
 5   City        1000 non-null   object
 6   Member      1000 non-null   object
 7   Category    1000 non-null   object
 8   Price       1000 non-null   int64
 9   Quantity    1000 non-null   int64
 10  Total       1000 non-null   int64
 11  Payment     1000 non-null   object
 12  Rating      1000 non-null   int64
dtypes: int64(5), object(8)
memory usage: 101.7+ KB

Descritivo do DataFrame

In [14]:
df.describe()

         Invoice ID        Price     Quantity        Total       Rating
count  1.000000e+03  1000.000000  1000.000000  1000.000000  1000.000000
mean   4.944931e+08    51.112000     4.059000   207.788000     2.972000
std    2.870685e+08    28.912443     2.027716   165.626167     1.428025
min    6.614050e+05     1.000000     1.000000     1.000000     1.000000
25%    2.508726e+08    27.000000     2.000000    72.000000     2.000000
50%    4.781491e+08    51.000000     4.000000   174.000000     3.000000
75%    7.459453e+08    76.250000     6.000000   304.500000     4.000000
max    9.996658e+08   100.000000     7.000000   693.000000     5.000000

Verifica se tem NaN (Not a Number)

In [15]:
df.isna()

,Invoice ID,Date,Time,Gender,Location,City,Member,Category,Price,Quantity,Total,Payment,Rating
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,False,False,False

Verifica se tem NULL

In [16]:
df.isnull()

,Invoice ID,Date,Time,Gender,Location,City,Member,Category,Price,Quantity,Total,Payment,Rating
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,False,False,False

Verifica se NÃO tem NaN (Not a Number)

In [19]:
df.notna()

,Invoice ID,Date,Time,Gender,Location,City,Member,Category,Price,Quantity,Total,Payment,Rating
0,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,True,True,True,True,True,True,True,True,True,True,True,True,True
996,True,True,True,True,True,True,True,True,True,True,True,True,True
997,True,True,True,True,True,True,True,True,True,True,True,True,True
998,True,True,True,True,True,True,True,True,True,True,True,True,True
999,True,True,True,True,True,True,True,True,True,True,True,True,True

Verificad se NÃO tem NULL

In [24]:
pd.set_option('display.max_rows', 1000)
df.notnull()

,Invoice ID,Date,Time,Gender,Location,City,Member,Category,Price,Quantity,Total,Payment,Rating
0,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,True,True,True
6,True,True,True,True,True,True,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True,True,True,True,True,True,True
17,True,True,True,True,True,True,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True,True,True,True,True,True,True
21,True,True,True,True,True,True,True,True,True,True,True,True,True
22,True,True,True,True,True,True,True,True,True,True,True,True,True
23,True,True,True,True,True,True,True,True,True,True,True,True,True
24,True,True,True,True,True,True,True,True,True,True,True,True,True
25,True,True,True,True,True,True,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True,True,True,True,True,True,True
27,True,True,True,True,True,True,True,True,True,True,True,True,True
28,True,True,True,True,True,True,True,True,True,True,True,True,True
29,True,True,True,True,True,True,True,True,True,True,True,True,True
30,True,True,True,True,True,True,True,True,True,True,True,True,True
31,True,True,True,True,True,True,True,True,True,True,True,True,True
32,True,True,True,True,True,True,True,True,True,True,True,True,True
33,True,True,True,True,True,True,True,True,True,True,True,True,True
34,True,True,True,True,True,True,True,True,True,True,True,True,True
35,True,True,True,True,True,True,True,True,True,True,True,True,True
36,True,True,True,True,True,True,True,True,True,True,True,True,True
37,True,True,True,True,True,True,True,True,True,True,True,True,True
38,True,True,True,True,True,True,True,True,True,True,True,True,True
39,True,True,True,True,True,True,True,True,True,True,True,True,True
40,True,True,True,True,True,True,True,True,True,True,True,True,True
41,True,True,True,True,True,True,True,True,True,True,True,True,True
42,True,True,True,True,True,True,True,True,True,True,True,True,True
43,True,True,True,True,True,True,True,True,True,True,True,True,True
44,True,True,True,True,True,True,True,True,True,True,True,True,True
45,True,True,True,True,True,True,True,True,True,True,True,True,True
46,True,True,True,True,True,True,True,True,True,True,True,True,True
47,True,True,True,True,True,True,True,True,True,True,True,True,True
48,True,True,True,True,True,True,True,True,True,True,True,True,True
49,True,True,True,True,True,True,True,True,True,True,True,True,True
50,True,True,True,True,True,True,True,True,True,True,True,True,True
51,True,True,True,True,True,True,True,True,True,True,True,True,True
52,True,True,True,True,True,True,True,True,True,True,True,True,True
53,True,True,True,True,True,True,True,True,True,True,True,True,True
54,True,True,True,True,True,True,True,True,True,True,True,True,True
55,True,True,True,True,True,True,True,True,True,True,True,True,True
56,True,True,True,True,True,True,True,True,True,True,True,True,True
57,True,True,True,True,True,True,True,True,True,True,True,True,True
58,True,True,True,True,True,True,True,True,True,True,True,True,True
59,True,True,True,True,True,True,True,True,True,True,True,True,True
60,True,True,True,True,True,True,True,True,True,True,True,True,True
61,True,True,True,True,True,True,True,True,True,True,True,True,True
62,True,True,True,True,True,True,True,True,True,True,True,True,True
63,True,True,True,True,True,True,True,True,True,True,True,True,True
64,True,True,True,True,True,True,True,True,True,True,True,True,True
65,True,True,True,True,True,True,True,True,True,True,True,True,True
66,True,True,True,True,True,True,True,True,True,True,True,True,True
67,True,True,True,True,True,True,True,True,True,True,True,True,True
68,True,True,True,True,True,True,True,True,True,True,True,True,True
69,True,True,True,True,True,True,True,True,True,True,True,True,True
70,True,True,True,True,True,True,True,True,True,True,True,True,True
71,True,True,True,True,True,True,True,True,True,True,True,True,True
72,True,True,True,True,True,True,True,True,True,True,True,True,True
73,True,True,True,True,True,True,True,True,True,True,True,True,True
74,True,True,True,True,True,True,True,True,True,True,True,True,True
75,True,True,True,True,True,True,True,True,True,True,True,True,True
76,True,True,True,True,True,True,True,True,True,True,True,True,True
77,True,True,True,True,True,True,True,True,True,True,True,True,True
78,True,True,True,True,True,True,True,True,True,True,True,True,True
79,True,True,True,True,True,True,True,True,True,True,True,True,True
80,True,True,True,True,True,True,True,True,True,True,True,True,True
81,True,True,True,True,True,True,True,True,True,True,True,True,True
82,True,True,True,True,True,True,True,True,True,True,True,True,True
83,True,True,True,True,True,True,True,True,True,True,True,True,True
84,True,True,True,True,True,True,True,True,True,True,True,True,True
85,True,True,True,True,True,True,True,True,True,True,True,True,True
86,True,True,True,True,True,True,True,True,True,True,True,True,True
87,True,True,True,True,True,True,True,True,True,True,True,True,True
88,True,True,True,True,True,True,True,True,True,True,True,True,True
89,True,True,True,True,True,True,True,True,True,True,True,True,True
90,True,True,True,True,True,True,True,True,True,True,True,True,True
91,True,True,True,True,True,True,True,True,True,True,True,True,True
92,True,True,True,True,True,True,True,True,True,True,True,True,True
93,True,True,True,True,True,True,True,True,True,True,True,True,True
94,True,True,True,True,True,True,True,True,True,True,True,True,True
95,True,True,True,True,True,True,True,True,True,True,True,True,True
96,True,True,True,True,True,True,True,True,True,True,True,True,True
97,True,True,True,True,True,True,True,True,True,True,True,True,True
98,True,True,True,True,True,True,True,True,True,True,True,True,True
99,True,True,True,True,True,True,True,True,True,True,True,True,True
100,True,True,True,True,True,True,True,True,True,True,True,True,True
101,True,True,True,True,True,True,True,True,True,True,True,True,True
102,True,True,True,True,True,True,True,True,True,True,True,True,True
103,True,True,True,True,True,True,True,True,True,True,True,True,True
104,True,True,True,True,True,True,True,True,True,True,True,True,True
105,True,True,True,True,True,True,True,True,True,True,True,True,True
106,True,True,True,True,True,True,True,True,True,True,True,True,True
107,True,True,True,True,True,True,True,True,True,True,True,True,True
108,True,True,True,True,True,True,True,True,True,True,True,True,True
109,True,True,True,True,True,True,True,True,True,True,True,True,True
110,True,True,True,True,True,True,True,True,True,True,True,True,True
111,True,True,True,True,True,True,True,True,True,True,True,True,True
112,True,True,True,True,True,True,True,True,True,True,True,True,True
113,True,True,True,True,True,True,True,True,True,True,True,True,True
114,True,True,True,True,True,True,True,True,True,True,True,True,True
115,True,True,True,True,True,True,True,True,True,True,True,True,True
116,True,True,True,True,True,True,True,True,True,True,True,True,True
117,True,True,True,True,True,True,True,True,True,True,True,True,True
118,True,True,True,True,True,True,True,True,True,True,True,True,True
119,True,True,True,True,True,True,True,True,True,True,True,True,True
120,True,True,True,True,True,True,True,True,True,True,True,True,True
121,True,True,True,True,True,True,True,True,True,True,True,True,True
122,True,True,True,True,True,True,True,True,True,True,True,True,True
123,True,True,True,True,True,True,True,True,True,True,True,True,True
124,True,True,True,True,True,True,True,True,True,True,True,True,True
125,True,True,True,True,True,True,True,True,True,True,True,True,True
126,True,True,True,True,True,True,True,True,True,True,True,True,True
127,True,True,True,True,True,True,True,True,True,True,True,True,True
128,True,True,True,True,True,True,True,True,True,True,True,True,True
129,True,True,True,True,True,True,True,True,True,True,True,True,True
130,True,True,True,True,True,True,True,True,True,True,True,True,True
131,True,True,True,True,True,True,True,True,True,True,True,True,True
132,True,True,True,True,True,True,True,True,True,True,True,True,True
133,True,True,True,True,True,True,True,True,True,True,True,True,True
134,True,True,True,True,True,True,True,True,True,True,True,True,True
135,True,True,True,True,True,True,True,True,True,True,True,True,True
136,True,True,True,True,True,True,True,True,True,True,True,True,True
137,True,True,True,True,True,True,True,True,True,True,True,True,True
138,True,True,True,True,True,True,True,True,True,True,True,True,True
139,True,True,True,True,True,True,True,True,True,True,True,True,True
140,True,True,True,True,True,True,True,True,True,True,True,True,True
141,True,True,True,True,True,True,True,True,True,True,True,True,True
142,True,True,True,True,True,True,True,True,True,True,True,True,True
143,True,True,True,True,True,True,True,True,True,True,True,True,True
144,True,True,True,True,True,True,True,True,True,True,True,True,True
145,True,True,True,True,True,True,True,True,True,True,True,True,True
146,True,True,True,True,True,True,True,True,True,True,True,True,True
147,True,True,True,True,True,True,True,True,True,True,True,True,True
148,True,True,True,True,True,True,True,True,True,True,True,True,True
149,True,True,True,True,True,True,True,True,True,True,True,True,True
150,True,True,True,True,True,True,True,True,True,True,True,True,True
151,True,True,True,True,True,True,True,True,True,True,True,True,True
152,True,True,True,True,True,True,True,True,True,True,True,True,True
153,True,True,True,True,True,True,True,True,True,True,True,True,True
154,True,True,True,True,True,True,True,True,True,True,True,True,True
155,True,True,True,True,True,True,True,True,True,True,True,True,True
156,True,True,True,True,True,True,True,True,True,True,True,True,True
157,True,True,True,True,True,True,True,True,True,True,True,True,True
158,True,True,True,True,True,True,True,True,True,True,True,True,True
159,True,True,True,True,True,True,True,True,True,True,True,True,True
160,True,True,True,True,True,True,True,True,True,True,True,True,True
161,True,True,True,True,True,True,True,True,True,True,True,True,True
162,True,True,True,True,True,True,True,True,True,True,True,True,True
163,True,True,True,True,True,True,True,True,True,True,True,True,True
164,True,True,True,True,True,True,True,True,True,True,True,True,True
165,True,True,True,True,True,True,True,True,True,True,True,True,True
166,True,True,True,True,True,True,True,True,True,True,True,True,True
167,True,True,True,True,True,True,True,True,True,True,True,True,True
168,True,True,True,True,True,True,True,True,True,True,True,True,True
169,True,True,True,True,True,True,True,True,True,True,True,True,True
170,True,True,True,True,True,True,True,True,True,True,True,True,True
171,True,True,True,True,True,True,True,True,True,True,True,True,True
172,True,True,True,True,True,True,True,True,True,True,True,True,True
173,True,True,True,True,True,True,True,True,True,True,True,True,True
174,True,True,True,True,True,True,True,True,True,True,True,True,True
175,True,True,True,True,True,True,True,True,True,True,True,True,True
176,True,True,True,True,True,True,True,True,True,True,True,True,True
177,True,True,True,True,True,True,True,True,True,True,True,True,True
178,True,True,True,True,True,True,True,True,True,True,True,True,True
179,True,True,True,True,True,True,True,True,True,True,True,True,True
180,True,True,True,True,True,True,True,True,True,True,True,True,True
181,True,True,True,True,True,True,True,True,True,True,True,True,True
182,True,True,True,True,True,True,True,True,True,True,True,True,True
183,True,True,True,True,True,True,True,True,True,True,True,True,True
184,True,True,True,True,True,True,True,True,True,True,True,True,True
185,True,True,True,True,True,True,True,True,True,True,True,True,True
186,True,True,True,True,True,True,True,True,True,True,True,True,True
187,True,True,True,True,True,True,True,True,True,True,True,True,True
188,True,True,True,True,True,True,True,True,True,True,True,True,True
189,True,True,True,True,True,True,True,True,True,True,True,True,True
190,True,True,True,True,True,True,True,True,True,True,True,True,True
191,True,True,True,True,True,True,True,True,True,True,True,True,True
192,True,True,True,True,True,True,True,True,True,True,True,True,True
193,True,True,True,True,True,True,True,True,True,True,True,True,True
194,True,True,True,True,True,True,True,True,True,True,True,True,True
195,True,True,True,True,True,True,True,True,True,True,True,True,True
196,True,True,True,True,True,True,True,True,True,True,True,True,True
197,True,True,True,True,True,True,True,True,True,True,True,True,True
198,True,True,True,True,True,True,True,True,True,True,True,True,True
199,True,True,True,True,True,True,True,True,True,True,True,True,True
200,True,True,True,True,True,True,True,True,True,True,True,True,True
201,True,True,True,True,True,True,True,True,True,True,True,True,True
202,True,True,True,True,True,True,True,True,True,True,True,True,True
203,True,True,True,True,True,True,True,True,True,True,True,True,True
204,True,True,True,True,True,True,True,True,True,True,True,True,True
205,True,True,True,True,True,True,True,True,True,True,True,True,True
206,True,True,True,True,True,True,True,True,True,True,True,True,True
207,True,True,True,True,True,True,True,True,True,True,True,True,True
208,True,True,True,True,True,True,True,True,True,True,True,True,True
209,True,True,True,True,True,True,True,True,True,True,True,True,True
210,True,True,True,True,True,True,True,True,True,True,True,True,True
211,True,True,True,True,True,True,True,True,True,True,True,True,True
212,True,True,True,True,True,True,True,True,True,True,True,True,True
213,True,True,True,True,True,True,True,True,True,True,True,True,True
214,True,True,True,True,True,True,True,True,True,True,True,True,True
215,True,True,True,True,True,True,True,True,True,True,True,True,True
216,True,True,True,True,True,True,True,True,True,True,True,True,True
217,True,True,True,True,True,True,True,True,True,True,True,True,True
218,True,True,True,True,True,True,True,True,True,True,True,True,True
219,True,True,True,True,True,True,True,True,True,True,True,True,True
220,True,True,True,True,True,True,True,True,True,True,True,True,True
221,True,True,True,True,True,True,True,True,True,True,True,True,True
222,True,True,True,True,True,True,True,True,True,True,True,True,True
223,True,True,True,True,True,True,True,True,True,True,True,True,True
224,True,True,True,True,True,True,True,True,True,True,True,True,True
225,True,True,True,True,True,True,True,True,True,True,True,True,True
226,True,True,True,True,True,True,True,True,True,True,True,True,True
227,True,True,True,True,True,True,True,True,True,True,True,True,True
228,True,True,True,True,True,True,True,True,True,True,True,True,True
229,True,True,True,True,True,True,True,True,True,True,True,True,True
230,True,True,True,True,True,True,True,True,True,True,True,True,True
231,True,True,True,True,True,True,True,True,True,True,True,True,True
232,True,True,True,True,True,True,True,True,True,True,True,True,True
233,True,True,True,True,True,True,True,True,True,True,True,True,True
234,True,True,True,True,True,True,True,True,True,True,True,True,True
235,True,True,True,True,True,True,True,True,True,True,True,True,True
236,True,True,True,True,True,True,True,True,True,True,True,True,True
237,True,True,True,True,True,True,True,True,True,True,True,True,True
238,True,True,True,True,True,True,True,True,True,True,True,True,True
239,True,True,True,True,True,True,True,True,True,True,True,True,True
240,True,True,True,True,True,True,True,True,True,True,True,True,True
241,True,True,True,True,True,True,True,True,True,True,True,True,True
242,True,True,True,True,True,True,True,True,True,True,True,True,True
243,True,True,True,True,True,True,True,True,True,True,True,True,True
244,True,True,True,True,True,True,True,True,True,True,True,True,True
245,True,True,True,True,True,True,True,True,True,True,True,True,True
246,True,True,True,True,True,True,True,True,True,True,True,True,True
247,True,True,True,True,True,True,True,True,True,True,True,True,True
248,True,True,True,True,True,True,True,True,True,True,True,True,True
249,True,True,True,True,True,True,True,True,True,True,True,True,True
250,True,True,True,True,True,True,True,True,True,True,True,True,True
251,True,True,True,True,True,True,True,True,True,True,True,True,True
252,True,True,True,True,True,True,True,True,True,True,True,True,True
253,True,True,True,True,True,True,True,True,True,True,True,True,True
254,True,True,True,True,True,True,True,True,True,True,True,True,True
255,True,True,True,True,True,True,True,True,True,True,True,True,True
256,True,True,True,True,True,True,True,True,True,True,True,True,True
257,True,True,True,True,True,True,True,True,True,True,True,True,True
258,True,True,True,True,True,True,True,True,True,True,True,True,True
259,True,True,True,True,True,True,True,True,True,True,True,True,True
260,True,True,True,True,True,True,True,True,True,True,True,True,True
261,True,True,True,True,True,True,True,True,True,True,True,True,True
262,True,True,True,True,True,True,True,True,True,True,True,True,True
263,True,True,True,True,True,True,True,True,True,True,True,True,True
264,True,True,True,True,True,True,True,True,True,True,True,True,True
265,True,True,True,True,True,True,True,True,True,True,True,True,True
266,True,True,True,True,True,True,True,True,True,True,True,True,True
267,True,True,True,True,True,True,True,True,True,True,True,True,True
268,True,True,True,True,True,True,True,True,True,True,True,True,True
269,True,True,True,True,True,True,True,True,True,True,True,True,True
270,True,True,True,True,True,True,True,True,True,True,True,True,True
271,True,True,True,True,True,True,True,True,True,True,True,True,True
272,True,True,True,True,True,True,True,True,True,True,True,True,True
273,True,True,True,True,True,True,True,True,True,True,True,True,True
274,True,True,True,True,True,True,True,True,True,True,True,True,True
275,True,True,True,True,True,True,True,True,True,True,True,True,True
276,True,True,True,True,True,True,True,True,True,True,True,True,True
277,True,True,True,True,True,True,True,True,True,True,True,True,True
278,True,True,True,True,True,True,True,True,True,True,True,True,True
279,True,True,True,True,True,True,True,True,True,True,True,True,True
280,True,True,True,True,True,True,True,True,True,True,True,True,True
281,True,True,True,True,True,True,True,True,True,True,True,True,True
282,True,True,True,True,True,True,True,True,True,True,True,True,True
283,True,True,True,True,True,True,True,True,True,True,True,True,True
284,True,True,True,True,True,True,True,True,True,True,True,True,True
285,True,True,True,True,True,True,True,True,True,True,True,True,True
286,True,True,True,True,True,True,True,True,True,True,True,True,True
287,True,True,True,True,True,True,True,True,True,True,True,True,True
288,True,True,True,True,True,True,True,True,True,True,True,True,True
289,True,True,True,True,True,True,True,True,True,True,True,True,True

Verifica se tem duplicados

In [21]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [23]:
pd.set_option('display.max_rows', 1000)
print(df)

     Invoice ID       Date   Time  Gender     Location     City Member  \
0     460489604  1/25/2018  16:46    Male   Brookfield  NewYork    Yes
1     471006167  3/19/2018  16:48  Female  Water tower  Chicago    Yes
2     411909258  2/25/2018  13:33    Male  Water tower  Chicago     No
3     487313402  1/22/2018  13:38  Female    Park lane   Dallas    Yes
4     197763430  2/18/2018  15:31  Female    Park lane   Dallas     No
5     263634050   3/9/2018  17:55    Male   Brookfield  NewYork    Yes
6      99646662   3/4/2018  13:21    Male  Water tower  Chicago     No
7     188869875   3/8/2018  13:24    Male    Park lane   Dallas     No
8     325637547  1/18/2018  15:33    Male    Park lane   Dallas    Yes
9     562942936  2/24/2018  16:05  Female    Park lane   Dallas     No
10    388412668  2/26/2018  11:32  Female   Brookfield  NewYork     No
11    846531724  3/15/2018  12:12    Male    Park lane   Dallas     No
12    149894432  1/12/2018  11:12    Male    Park lane   Dallas     No
13    942406749  1/18/2018  15:20  Female  Water tower  Chicago    Yes
14    547572603  3/21/2018  13:23  Female   Brookfield  NewYork     No
15    355981315  2/15/2018  15:47  Female   Brookfield  NewYork    Yes
16    397754805   2/9/2018  15:59  Female   Brookfield  NewYork    Yes
17     90524319  3/19/2018  18:18    Male    Park lane   Dallas    Yes
18    542144906   2/6/2018  10:58  Female   Brookfield  NewYork    Yes
19    729486362   3/7/2018  12:50    Male  Water tower  Chicago     No
20    619639105  3/26/2018  19:48  Female   Brookfield  NewYork     No
21    443198801  2/24/2018  19:31  Female   Brookfield  NewYork     No
22    761515143  1/15/2018  16:08  Female    Park lane   Dallas     No
23     56578535  3/23/2018  10:11    Male  Water tower  Chicago    Yes
24    834838148  2/15/2018  13:00    Male   Brookfield  NewYork    Yes
25    833288071  1/25/2018  15:02    Male  Water tower  Chicago     No
26    508614950  1/24/2018  16:47  Female    Park lane   Dallas     No
27    103072863  3/12/2018  11:57    Male  Water tower  Chicago     No
28    355815500  1/20/2018  15:09  Female    Park lane   Dallas    Yes
29    193855414   3/4/2018  12:04  Female   Brookfield  NewYork    Yes
30    600792216   3/6/2018  17:04    Male    Park lane   Dallas    Yes
31    567867755   2/3/2018  20:59  Female   Brookfield  NewYork     No
32    597934753  3/26/2018  16:46  Female   Brookfield  NewYork     No
33    419033295  3/24/2018  15:57    Male  Water tower  Chicago    Yes
34      8795029  1/19/2018  17:03  Female   Brookfield  NewYork     No
35    912473338  2/25/2018  11:27    Male    Park lane   Dallas     No
36    209725428  3/20/2018  12:45  Female  Water tower  Chicago    Yes
37    460044751  2/22/2018  16:20    Male   Brookfield  NewYork     No
38    191736512  2/14/2018  14:13  Female    Park lane   Dallas     No
39    979973145  1/14/2018  19:26  Female   Brookfield  NewYork    Yes
40     43371182  1/28/2018  19:24    Male    Park lane   Dallas    Yes
41    613811022   1/9/2018  20:55    Male  Water tower  Chicago     No
42    673603546  3/26/2018  10:11  Female  Water tower  Chicago     No
43    328132417   1/3/2018  19:01  Female  Water tower  Chicago     No
44    325924536   3/4/2018  10:38  Female    Park lane   Dallas     No
45    747705702   2/7/2018  13:57    Male   Brookfield  NewYork    Yes
46    450817216   2/7/2018  10:57  Female  Water tower  Chicago    Yes
47    315624039  3/30/2018  19:45  Female  Water tower  Chicago    Yes
48    888822600  1/12/2018  19:49  Female  Water tower  Chicago     No
49    896399395  2/15/2018  14:36    Male    Park lane   Dallas    Yes
50     20548577   1/7/2018  14:00    Male    Park lane   Dallas    Yes
51    500850764  3/19/2018  14:04  Female  Water tower  Chicago     No
52    466598448   2/2/2018  18:50  Female   Brookfield  NewYork     No
53    265371038  2/26/2018  13:53    Male   Brookfield  NewYork    Yes
54    175938157  3/28/2018  12:58  Female   Brookfield  NewYork    Yes
55    839600262   1/5/2018  19:30  Female    Park lane   Dallas    Yes
56    885253494  3/24/2018  12:52    Male    Park lane   Dallas    Yes
57    180545139  3/14/2018  10:46  Female   Brookfield  NewYork    Yes
58    227063423  1/16/2018  16:38    Male  Water tower  Chicago     No
59    500777576  3/22/2018  12:22  Female  Water tower  Chicago     No
60    426576006  1/22/2018  17:34  Female   Brookfield  NewYork     No
61    934647292  1/18/2018  11:26    Male  Water tower  Chicago     No
62    975443414  3/30/2018  12:58    Male    Park lane   Dallas     No
63    858716993   2/3/2018  17:38    Male  Water tower  Chicago    Yes
64    776761484  1/29/2018  17:59  Female  Water tower  Chicago     No
65    798252244  1/23/2018  11:05    Male    Park lane   Dallas    Yes
66    595065138  2/17/2018  13:55    Male    Park lane   Dallas     No
67    366083315  3/11/2018  13:54  Female    Park lane   Dallas     No
68    746011173  2/17/2018  18:31    Male   Brookfield  NewYork     No
69    687132774  3/11/2018  13:21  Female    Park lane   Dallas     No
70    554361739   1/2/2018  17:24    Male   Brookfield  NewYork    Yes
71    563130623  2/27/2018  10:41    Male    Park lane   Dallas     No
72    380354826   3/4/2018  12:10  Female  Water tower  Chicago     No
73    107399414  3/17/2018  10:16    Male   Brookfield  NewYork    Yes
74    851267575   1/7/2018  12:07    Male  Water tower  Chicago     No
75    437093770   2/7/2018  16:42  Female    Park lane   Dallas    Yes
76    177764380  2/17/2018  17:37    Male  Water tower  Chicago    Yes
77     36054637  2/17/2018  11:15    Male  Water tower  Chicago    Yes
78    127420911  2/21/2018  15:06    Male  Water tower  Chicago    Yes
79    709746437   1/7/2018  13:22    Male    Park lane   Dallas    Yes
80    867695625  1/17/2018  19:46    Male  Water tower  Chicago     No
81    336967276  1/19/2018  17:54    Male   Brookfield  NewYork     No
82    677779969  1/26/2018  17:08    Male  Water tower  Chicago    Yes
83    401666792   2/7/2018  12:17  Female   Brookfield  NewYork    Yes
84    616515038  3/10/2018  14:12  Female  Water tower  Chicago    Yes
85    160906524  1/25/2018  11:51  Female    Park lane   Dallas     No
86    978363495  3/23/2018  14:13    Male  Water tower  Chicago     No
87    198509753  1/19/2018  17:10    Male    Park lane   Dallas    Yes
88    580839402   2/8/2018  18:30  Female   Brookfield  NewYork     No
89    533156738  3/24/2018  13:57    Male  Water tower  Chicago     No
90    117522526   2/3/2018  10:40    Male    Park lane   Dallas     No
91    727593101   3/2/2018  16:06    Male    Park lane   Dallas    Yes
92    446636139  1/20/2018  16:51    Male   Brookfield  NewYork    Yes
93    993368037  1/26/2018  15:29  Female  Water tower  Chicago    Yes
94    435094946  1/12/2018  10:54    Male   Brookfield  NewYork     No
95    842361554  1/14/2018  16:17    Male   Brookfield  NewYork    Yes
96    964002523   3/4/2018  17:38    Male  Water tower  Chicago     No
97    719679728  1/13/2018  15:29    Male  Water tower  Chicago    Yes
98    748990073  3/12/2018  20:15    Male  Water tower  Chicago     No
99    407802065  2/14/2018  18:03  Female   Brookfield  NewYork     No
100   515862366  2/12/2018  10:57  Female    Park lane   Dallas     No
101    42787009  3/28/2018  11:25  Female    Park lane   Dallas    Yes
102   780195692  2/20/2018  12:42  Female    Park lane   Dallas     No
103   881639873  2/27/2018  15:05    Male    Park lane   Dallas    Yes
104   443388850   2/5/2018  16:31    Male   Brookfield  NewYork    Yes
105   635503529  3/24/2018  15:17    Male  Water tower  Chicago     No
106   774895188   2/7/2018  20:29  Female   Brookfield  NewYork    Yes
107   194154086  2/11/2018  16:28  Female   Brookfield  NewYork    Yes
108   191782944  1/20/2018  19:28  Female   Brookfield  NewYork    Yes
109   949506131   2/8/2018  10:43    Male   Brookfield  NewYork    Yes
110   866328026   1/3/2018  14:41    Male  Water tower  Chicago    Yes
111    43708341   3/5/2018  15:54    Male    Park lane   Dallas    Yes
112   337106518   1/1/2018  12:08    Male  Water tower  Chicago    Yes
113   663329867   2/2/2018  14:27  Female   Brookfield  NewYork    Yes
114   419221776  1/31/2018  20:36  Female    Park lane   Dallas    Yes
115   745600525  3/27/2018  13:45    Male    Park lane   Dallas    Yes
116   208190296   3/6/2018  13:05    Male   Brookfield  NewYork     No
117     4315051   2/6/2018  10:00    Male    Park lane   Dallas     No
118   456069400   3/9/2018  15:21  Female  Water tower  Chicago     No
119   198592951  3/16/2018  15:53  Female   Brookfield  NewYork    Yes
120   127206426  1/20/2018  18:17    Male    Park lane   Dallas     No
121   812090406  3/29/2018  12:32    Male    Park lane   Dallas    Yes
122   277220872  1/17/2018  19:08    Male    Park lane   Dallas    Yes
123   366492621  2/22/2018  20:18    Male  Water tower  Chicago     No
124   258316154  2/24/2018  18:24    Male  Water tower  Chicago     No
125   122309285  1/26/2018  15:07    Male  Water tower  Chicago    Yes
126   555703265  2/25/2018  19:48    Male   Brookfield  NewYork     No
127   911408389  2/27/2018  10:18    Male  Water tower  Chicago    Yes
128   675873533   3/2/2018  15:19  Female  Water tower  Chicago     No
129   866739244   1/2/2018  12:14  Female   Brookfield  NewYork    Yes
130   512879237   1/6/2018  20:37  Female    Park lane   Dallas    Yes
131   260820560  2/28/2018  20:21    Male    Park lane   Dallas     No
132   541985844  1/24/2018  13:22  Female   Brookfield  NewYork     No
133     9436913  1/27/2018  14:26  Female    Park lane   Dallas     No
134   262498476  3/28/2018  13:23  Female    Park lane   Dallas    Yes
135   442355183  3/25/2018  14:48  Female   Brookfield  NewYork    Yes
136   217802268  1/19/2018  12:20    Male  Water tower  Chicago     No
137    68624343   3/8/2018  19:16    Male  Water tower  Chicago     No
138    48392594   2/4/2018  18:06  Female   Brookfield  NewYork    Yes
139   478164051  1/25/2018  13:00    Male   Brookfield  NewYork    Yes
140   723722504   1/5/2018  20:50  Female  Water tower  Chicago     No
141   510014671  2/22/2018  19:12  Female   Brookfield  NewYork     No
142   895009015  3/13/2018  10:53  Female    Park lane   Dallas    Yes
143   995068874  1/31/2018  17:36    Male   Brookfield  NewYork     No
144   210787158  3/25/2018  19:17    Male    Park lane   Dallas    Yes
145   939718527   3/3/2018  20:04  Female  Water tower  Chicago    Yes
146   140174468  1/27/2018  20:29    Male   Brookfield  NewYork     No
147   977135436  1/12/2018  19:25  Female    Park lane   Dallas     No
148     8832185   3/3/2018  11:23  Female    Park lane   Dallas     No
149   373494614  2/27/2018  12:21  Female    Park lane   Dallas     No
150   425924757   1/4/2018  16:47  Female    Park lane   Dallas    Yes
151   264102536   2/7/2018  19:28  Female   Brookfield  NewYork     No
152   376560178  3/26/2018  10:00    Male  Water tower  Chicago    Yes
153   113991887  1/15/2018  18:43    Male   Brookfield  NewYork     No
154   985931753   2/2/2018  13:12    Male    Park lane   Dallas     No
155   482096810  1/25/2018  13:32  Female   Brookfield  NewYork    Yes
156   294501073  3/20/2018  19:50  Female  Water tower  Chicago     No
157   928762219  2/27/2018  14:55    Male   Brookfield  NewYork    Yes
158   487004803  1/17/2018  20:30    Male  Water tower  Chicago     No
159   582323814  1/13/2018  20:06    Male   Brookfield  NewYork    Yes
160   513905846  1/28/2018  20:42  Female  Water tower  Chicago    Yes
161   289206319  1/11/2018  14:53    Male  Water tower  Chicago     No
162   257338584  3/23/2018  10:09  Female  Water tower  Chicago    Yes
163    58932351   3/1/2018  15:39  Female  Water tower  Chicago    Yes
164   602936337  1/24/2018  15:42    Male  Water tower  Chicago     No
165   404247810   3/5/2018  13:41    Male    Park lane   Dallas     No
166   465624646  1/19/2018  10:30  Female   Brookfield  NewYork    Yes
167   219007732  3/16/2018  13:25    Male   Brookfield  NewYork     No
168   916085444  3/20/2018  14:38    Male   Brookfield  NewYork     No
169   662413753   2/7/2018  18:14    Male   Brookfield  NewYork    Yes
170   702839682  3/29/2018  13:46  Female  Water tower  Chicago    Yes
171   585656963  1/10/2018  14:35  Female    Park lane   Dallas    Yes
172   253581497  1/24/2018  14:15    Male  Water tower  Chicago    Yes
173   882131997  3/19/2018  18:31  Female   Brookfield  NewYork    Yes
174   462468336   2/2/2018  13:18    Male    Park lane   Dallas    Yes
175   629406644  2/11/2018  18:02    Male   Brookfield  NewYork    Yes
176   474601530   3/8/2018  15:18  Female   Brookfield  NewYork     No
177   462439346   3/6/2018  11:17    Male    Park lane   Dallas    Yes
178   215114097  1/26/2018  20:24  Female    Park lane   Dallas    Yes
179   543642731   3/6/2018  15:48  Female    Park lane   Dallas     No
180   481437943  1/10/2018  14:35  Female   Brookfield  NewYork     No
181   124926696   1/7/2018  18:14    Male  Water tower  Chicago    Yes
182   129896806  1/27/2018  17:16  Female   Brookfield  NewYork     No
183   706578333  3/28/2018  11:12  Female  Water tower  Chicago     No
184   801334050  1/21/2018  20:18  Female    Park lane   Dallas     No
185   442630573  3/14/2018  13:58  Female    Park lane   Dallas    Yes
186     7730990  1/25/2018  18:35    Male  Water tower  Chicago     No
187   805244200  1/28/2018  19:55  Female  Water tower  Chicago    Yes
188   458523449  2/25/2018  12:10  Female  Water tower  Chicago    Yes
189   762712864  1/18/2018  18:20  Female  Water tower  Chicago     No
190   660523948  3/27/2018  18:51  Female    Park lane   Dallas     No
191   336253887  3/16/2018  13:14  Female   Brookfield  NewYork     No
192   951079308   1/2/2018  19:05  Female  Water tower  Chicago     No
193   447153891  1/11/2018  11:25    Male  Water tower  Chicago     No
194   795528663  3/13/2018  19:15    Male   Brookfield  NewYork     No
195   343603860   2/4/2018  14:57  Female    Park lane   Dallas     No
196   925499362  1/12/2018  11:22  Female   Brookfield  NewYork    Yes
197   579316236   3/1/2018  13:44  Female  Water tower  Chicago    Yes
198   445531158   2/9/2018  20:19  Female    Park lane   Dallas     No
199   805526095  3/27/2018  18:00    Male    Park lane   Dallas    Yes
200   576523018  2/15/2018  12:35    Male  Water tower  Chicago     No
201   414119922  1/30/2018  11:07    Male  Water tower  Chicago     No
202   123247697   2/8/2018  20:03    Male   Brookfield  NewYork     No
203    40419058  1/26/2018  14:53    Male  Water tower  Chicago    Yes
204   890497298  2/25/2018  18:06  Female  Water tower  Chicago     No
205   885702268  1/28/2018  12:45    Male   Brookfield  NewYork     No
206   172252194  3/22/2018  20:10  Female    Park lane   Dallas     No
207   866140211  2/25/2018  13:34  Female    Park lane   Dallas     No
208   597678548  3/15/2018  17:35    Male  Water tower  Chicago    Yes
209   428818456  2/25/2018  18:50    Male    Park lane   Dallas    Yes
210   236950025   3/9/2018  12:40  Female   Brookfield  NewYork    Yes
211    17451639   1/4/2018  14:58    Male  Water tower  Chicago    Yes
212   102177003  2/11/2018  13:48  Female  Water tower  Chicago     No
213   218871659  3/23/2018  13:58  Female    Park lane   Dallas     No
214   380559090  3/12/2018  20:21    Male   Brookfield  NewYork     No
215   503167669   2/3/2018  10:17  Female  Water tower  Chicago    Yes
216   717822067  1/17/2018  19:28  Female    Park lane   Dallas     No
217   690344669   3/5/2018  14:16  Female   Brookfield  NewYork    Yes
218   142754784  1/19/2018  16:59    Male   Brookfield  NewYork     No
219   167561353  2/12/2018  15:51    Male  Water tower  Chicago    Yes
220   254046171  2/25/2018  20:46  Female  Water tower  Chicago     No
221   854537427  1/27/2018  10:29  Female  Water tower  Chicago     No
222   747580730   1/8/2018  20:13  Female    Park lane   Dallas    Yes
223   709844678   2/6/2018  14:28    Male  Water tower  Chicago    Yes
224   367955130  3/24/2018  14:28    Male    Park lane   Dallas    Yes
225   504897642  3/27/2018  15:26  Female    Park lane   Dallas     No
226   747422231  1/16/2018  17:22    Male  Water tower  Chicago    Yes
227   811044705   2/1/2018  18:15  Female   Brookfield  NewYork    Yes
228   127073944  3/23/2018  12:25    Male  Water tower  Chicago    Yes
229   871865175   1/7/2018  11:40  Female   Brookfield  NewYork     No
230   620285039  1/16/2018  20:35    Male   Brookfield  NewYork     No
231   819356401  1/27/2018  11:42    Male  Water tower  Chicago    Yes
232   911826601   1/6/2018  20:31  Female   Brookfield  NewYork     No
233   669032497   3/8/2018  14:49    Male   Brookfield  NewYork    Yes
234   225317134   3/5/2018  11:33    Male  Water tower  Chicago     No
235   653059896   1/4/2018  10:22  Female  Water tower  Chicago     No
236   127629037  1/31/2018  18:01    Male    Park lane   Dallas     No
237   758557542  1/24/2018  11:49    Male  Water tower  Chicago    Yes
238   565456402  1/23/2018  14:51  Female   Brookfield  NewYork     No
239   194348272  2/11/2018  19:38    Male    Park lane   Dallas    Yes
240   193544907   1/5/2018  14:42    Male   Brookfield  NewYork    Yes
241   856147365   1/8/2018  13:28    Male  Water tower  Chicago     No
242     6282900  1/31/2018  15:36    Male    Park lane   Dallas     No
243   467919747   3/3/2018  19:41    Male    Park lane   Dallas     No
244   927773751  3/12/2018  11:15    Male   Brookfield  NewYork     No
245   794563981  1/13/2018  19:43  Female   Brookfield  NewYork     No
246   956599137   3/7/2018  12:28  Female    Park lane   Dallas     No
247   324945582   3/5/2018  19:20  Female   Brookfield  NewYork     No
248   759811716  2/25/2018  16:50  Female   Brookfield  NewYork     No
249   869486626  2/28/2018  12:07    Male  Water tower  Chicago     No
250    28957439  1/27/2018  11:42    Male   Brookfield  NewYork     No
251   186033359  2/26/2018  19:51  Female  Water tower  Chicago    Yes
252   164945303   3/3/2018  14:42    Male    Park lane   Dallas     No
253   702697570   2/2/2018  18:19    Male  Water tower  Chicago    Yes
254   867298669   3/6/2018  17:49  Female    Park lane   Dallas    Yes
255   636062627  3/11/2018  18:44  Female    Park lane   Dallas     No
256   338808619  1/12/2018  19:46    Male  Water tower  Chicago     No
257   874941247   3/1/2018  11:24  Female   Brookfield  NewYork     No
258   154062156  3/14/2018  18:33  Female   Brookfield  NewYork     No
259   309278030  1/15/2018  20:43  Female   Brookfield  NewYork     No
260   408055541  2/18/2018  10:12  Female   Brookfield  NewYork    Yes
261   304439467  2/19/2018  19:07  Female    Park lane   Dallas     No
262   790571300   2/7/2018  10:05    Male   Brookfield  NewYork    Yes
263   554782714  2/22/2018  11:51    Male    Park lane   Dallas    Yes
264   407767721  2/13/2018  13:30    Male  Water tower  Chicago    Yes
265   976927980   1/6/2018  10:23  Female    Park lane   Dallas    Yes
266   882195569  2/19/2018  19:53  Female    Park lane   Dallas     No
267   830582585  1/17/2018  15:27  Female  Water tower  Chicago    Yes
268   847040407  3/21/2018  14:42  Female    Park lane   Dallas     No
269   169212942  3/12/2018  10:50    Male    Park lane   Dallas    Yes
270   953734168  1/29/2018  11:29    Male  Water tower  Chicago    Yes
271   638590060  1/27/2018  18:08  Female  Water tower  Chicago     No
272   931257784  3/10/2018  18:43    Male   Brookfield  NewYork    Yes
273   750628254   2/6/2018  18:21  Female    Park lane   Dallas     No
274   770662321  2/12/2018  16:57  Female  Water tower  Chicago     No
275    83503308  2/12/2018  12:45  Female   Brookfield  NewYork    Yes
276   412890331  3/21/2018  11:48    Male    Park lane   Dallas    Yes
277   495407670  3/30/2018  15:30  Female    Park lane   Dallas    Yes
278   248326361  3/10/2018  13:12    Male    Park lane   Dallas    Yes
279   815235226   2/3/2018  19:30  Female   Brookfield  NewYork     No

Excluir colunas

In [26]:
df.drop(columns=['Payment', 'Total'])

,Invoice ID,Date,Time,Gender,Location,City,Member,Category,Price,Quantity,Rating
0,460489604,1/25/2018,16:46,Male,Brookfield,NewYork,Yes,Groceries,30,1,2
1,471006167,3/19/2018,16:48,Female,Water tower,Chicago,Yes,Fashion,35,5,3
2,411909258,2/25/2018,13:33,Male,Water tower,Chicago,No,Clothing,57,2,5
3,487313402,1/22/2018,13:38,Female,Park lane,Dallas,Yes,Sporting,89,4,1
4,197763430,2/18/2018,15:31,Female,Park lane,Dallas,No,Books,82,5,4
5,263634050,3/9/2018,17:55,Male,Brookfield,NewYork,Yes,Clothing,52,4,3
6,99646662,3/4/2018,13:21,Male,Water tower,Chicago,No,Clothing,81,3,4
7,188869875,3/8/2018,13:24,Male,Park lane,Dallas,No,Books,80,2,3
8,325637547,1/18/2018,15:33,Male,Park lane,Dallas,Yes,Clothing,91,3,3
9,562942936,2/24/2018,16:05,Female,Park lane,Dallas,No,Books,80,2,4
10,388412668,2/26/2018,11:32,Female,Brookfield,NewYork,No,Furniture,35,4,4
11,846531724,3/15/2018,12:12,Male,Park lane,Dallas,No,Sporting,22,5,4
12,149894432,1/12/2018,11:12,Male,Park lane,Dallas,No,Clothing,77,5,4
13,942406749,1/18/2018,15:20,Female,Water tower,Chicago,Yes,Clothing,9,6,5
14,547572603,3/21/2018,13:23,Female,Brookfield,NewYork,No,Fashion,98,7,3
15,355981315,2/15/2018,15:47,Female,Brookfield,NewYork,Yes,Clothing,78,5,5
16,397754805,2/9/2018,15:59,Female,Brookfield,NewYork,Yes,Sporting,35,7,1
17,90524319,3/19/2018,18:18,Male,Park lane,Dallas,Yes,Clothing,23,1,3
18,542144906,2/6/2018,10:58,Female,Brookfield,NewYork,Yes,Fashion,33,5,2
19,729486362,3/7/2018,12:50,Male,Water tower,Chicago,No,Groceries,39,4,3
20,619639105,3/26/2018,19:48,Female,Brookfield,NewYork,No,Groceries,44,6,1
21,443198801,2/24/2018,19:31,Female,Brookfield,NewYork,No,Clothing,48,5,5
22,761515143,1/15/2018,16:08,Female,Park lane,Dallas,No,Groceries,23,1,3
23,56578535,3/23/2018,10:11,Male,Water tower,Chicago,Yes,Groceries,24,1,2
24,834838148,2/15/2018,13:00,Male,Brookfield,NewYork,Yes,Groceries,12,4,1
25,833288071,1/25/2018,15:02,Male,Water tower,Chicago,No,Sporting,16,5,2
26,508614950,1/24/2018,16:47,Female,Park lane,Dallas,No,Sporting,38,2,4
27,103072863,3/12/2018,11:57,Male,Water tower,Chicago,No,Groceries,41,6,5
28,355815500,1/20/2018,15:09,Female,Park lane,Dallas,Yes,Furniture,16,6,2
29,193855414,3/4/2018,12:04,Female,Brookfield,NewYork,Yes,Clothing,51,4,2
30,600792216,3/6/2018,17:04,Male,Park lane,Dallas,Yes,Clothing,42,7,5
31,567867755,2/3/2018,20:59,Female,Brookfield,NewYork,No,Furniture,86,3,2
32,597934753,3/26/2018,16:46,Female,Brookfield,NewYork,No,Clothing,19,6,3
33,419033295,3/24/2018,15:57,Male,Water tower,Chicago,Yes,Furniture,68,2,4
34,8795029,1/19/2018,17:03,Female,Brookfield,NewYork,No,Clothing,4,2,2
35,912473338,2/25/2018,11:27,Male,Park lane,Dallas,No,Sporting,41,7,1
36,209725428,3/20/2018,12:45,Female,Water tower,Chicago,Yes,Sporting,79,7,1
37,460044751,2/22/2018,16:20,Male,Brookfield,NewYork,No,Fashion,45,5,4
38,191736512,2/14/2018,14:13,Female,Park lane,Dallas,No,Sporting,60,6,1
39,979973145,1/14/2018,19:26,Female,Brookfield,NewYork,Yes,Sporting,79,4,4
40,43371182,1/28/2018,19:24,Male,Park lane,Dallas,Yes,Clothing,75,7,2
41,613811022,1/9/2018,20:55,Male,Water tower,Chicago,No,Clothing,24,7,4
42,673603546,3/26/2018,10:11,Female,Water tower,Chicago,No,Groceries,40,5,1
43,328132417,1/3/2018,19:01,Female,Water tower,Chicago,No,Fashion,9,2,2
44,325924536,3/4/2018,10:38,Female,Park lane,Dallas,No,Clothing,16,7,3
45,747705702,2/7/2018,13:57,Male,Brookfield,NewYork,Yes,Books,31,5,1
46,450817216,2/7/2018,10:57,Female,Water tower,Chicago,Yes,Furniture,79,7,4
47,315624039,3/30/2018,19:45,Female,Water tower,Chicago,Yes,Groceries,99,7,3
48,888822600,1/12/2018,19:49,Female,Water tower,Chicago,No,Groceries,4,2,5
49,896399395,2/15/2018,14:36,Male,Park lane,Dallas,Yes,Clothing,26,7,2
50,20548577,1/7/2018,14:00,Male,Park lane,Dallas,Yes,Furniture,43,2,5
51,500850764,3/19/2018,14:04,Female,Water tower,Chicago,No,Groceries,67,1,1
52,466598448,2/2/2018,18:50,Female,Brookfield,NewYork,No,Books,78,7,5
53,265371038,2/26/2018,13:53,Male,Brookfield,NewYork,Yes,Sporting,29,1,4
54,175938157,3/28/2018,12:58,Female,Brookfield,NewYork,Yes,Fashion,62,4,5
55,839600262,1/5/2018,19:30,Female,Park lane,Dallas,Yes,Groceries,32,2,1
56,885253494,3/24/2018,12:52,Male,Park lane,Dallas,Yes,Sporting,53,1,4
57,180545139,3/14/2018,10:46,Female,Brookfield,NewYork,Yes,Clothing,87,7,1
58,227063423,1/16/2018,16:38,Male,Water tower,Chicago,No,Books,47,4,3
59,500777576,3/22/2018,12:22,Female,Water tower,Chicago,No,Sporting,60,7,5
60,426576006,1/22/2018,17:34,Female,Brookfield,NewYork,No,Sporting,21,1,5
61,934647292,1/18/2018,11:26,Male,Water tower,Chicago,No,Fashion,59,6,4
62,975443414,3/30/2018,12:58,Male,Park lane,Dallas,No,Groceries,23,3,2
63,858716993,2/3/2018,17:38,Male,Water tower,Chicago,Yes,Furniture,56,4,4
64,776761484,1/29/2018,17:59,Female,Water tower,Chicago,No,Clothing,4,5,5
65,798252244,1/23/2018,11:05,Male,Park lane,Dallas,Yes,Sporting,51,7,2
66,595065138,2/17/2018,13:55,Male,Park lane,Dallas,No,Fashion,21,2,3
67,366083315,3/11/2018,13:54,Female,Park lane,Dallas,No,Groceries,68,5,3
68,746011173,2/17/2018,18:31,Male,Brookfield,NewYork,No,Books,51,7,5
69,687132774,3/11/2018,13:21,Female,Park lane,Dallas,No,Sporting,26,2,3
70,554361739,1/2/2018,17:24,Male,Brookfield,NewYork,Yes,Books,97,6,4
71,563130623,2/27/2018,10:41,Male,Park lane,Dallas,No,Furniture,23,5,4
72,380354826,3/4/2018,12:10,Female,Water tower,Chicago,No,Fashion,28,7,5
73,107399414,3/17/2018,10:16,Male,Brookfield,NewYork,Yes,Groceries,65,3,2
74,851267575,1/7/2018,12:07,Male,Water tower,Chicago,No,Books,74,1,5
75,437093770,2/7/2018,16:42,Female,Park lane,Dallas,Yes,Sporting,4,1,2
76,177764380,2/17/2018,17:37,Male,Water tower,Chicago,Yes,Furniture,50,4,4
77,36054637,2/17/2018,11:15,Male,Water tower,Chicago,Yes,Clothing,56,5,5
78,127420911,2/21/2018,15:06,Male,Water tower,Chicago,Yes,Groceries,39,7,3
79,709746437,1/7/2018,13:22,Male,Park lane,Dallas,Yes,Groceries,39,5,3
80,867695625,1/17/2018,19:46,Male,Water tower,Chicago,No,Clothing,36,7,5
81,336967276,1/19/2018,17:54,Male,Brookfield,NewYork,No,Books,36,1,5
82,677779969,1/26/2018,17:08,Male,Water tower,Chicago,Yes,Books,14,2,2
83,401666792,2/7/2018,12:17,Female,Brookfield,NewYork,Yes,Furniture,51,6,2
84,616515038,3/10/2018,14:12,Female,Water tower,Chicago,Yes,Groceries,10,2,5
85,160906524,1/25/2018,11:51,Female,Park lane,Dallas,No,Fashion,25,7,2
86,978363495,3/23/2018,14:13,Male,Water tower,Chicago,No,Groceries,9,3,2
87,198509753,1/19/2018,17:10,Male,Park lane,Dallas,Yes,Furniture,11,5,1
88,580839402,2/8/2018,18:30,Female,Brookfield,NewYork,No,Clothing,63,6,5
89,533156738,3/24/2018,13:57,Male,Water tower,Chicago,No,Clothing,3,2,4
90,117522526,2/3/2018,10:40,Male,Park lane,Dallas,No,Books,13,3,1
91,727593101,3/2/2018,16:06,Male,Park lane,Dallas,Yes,Groceries,77,2,3
92,446636139,1/20/2018,16:51,Male,Brookfield,NewYork,Yes,Books,42,3,1
93,993368037,1/26/2018,15:29,Female,Water tower,Chicago,Yes,Fashion,43,7,3
94,435094946,1/12/2018,10:54,Male,Brookfield,NewYork,No,Sporting,80,6,5
95,842361554,1/14/2018,16:17,Male,Brookfield,NewYork,Yes,Clothing,5,1,2
96,964002523,3/4/2018,17:38,Male,Water tower,Chicago,No,Sporting,56,6,2
97,719679728,1/13/2018,15:29,Male,Water tower,Chicago,Yes,Books,87,5,4
98,748990073,3/12/2018,20:15,Male,Water tower,Chicago,No,Sporting,26,3,5
99,407802065,2/14/2018,18:03,Female,Brookfield,NewYork,No,Sporting,94,2,3
100,515862366,2/12/2018,10:57,Female,Park lane,Dallas,No,Sporting,94,6,3
101,42787009,3/28/2018,11:25,Female,Park lane,Dallas,Yes,Clothing,30,3,5
102,780195692,2/20/2018,12:42,Female,Park lane,Dallas,No,Books,29,6,1
103,881639873,2/27/2018,15:05,Male,Park lane,Dallas,Yes,Fashion,64,1,5
104,443388850,2/5/2018,16:31,Male,Brookfield,NewYork,Yes,Furniture,97,5,4
105,635503529,3/24/2018,15:17,Male,Water tower,Chicago,No,Books,61,6,5
106,774895188,2/7/2018,20:29,Female,Brookfield,NewYork,Yes,Books,17,6,1
107,194154086,2/11/2018,16:28,Female,Brookfield,NewYork,Yes,Furniture,4,5,4
108,191782944,1/20/2018,19:28,Female,Brookfield,NewYork,Yes,Clothing,43,1,1
109,949506131,2/8/2018,10:43,Male,Brookfield,NewYork,Yes,Sporting,50,6,2
110,866328026,1/3/2018,14:41,Male,Water tower,Chicago,Yes,Sporting,61,1,2
111,43708341,3/5/2018,15:54,Male,Park lane,Dallas,Yes,Groceries,37,3,4
112,337106518,1/1/2018,12:08,Male,Water tower,Chicago,Yes,Groceries,19,3,3
113,663329867,2/2/2018,14:27,Female,Brookfield,NewYork,Yes,Books,5,6,3
114,419221776,1/31/2018,20:36,Female,Park lane,Dallas,Yes,Sporting,38,4,5
115,745600525,3/27/2018,13:45,Male,Park lane,Dallas,Yes,Sporting,75,7,5
116,208190296,3/6/2018,13:05,Male,Brookfield,NewYork,No,Sporting,3,6,2
117,4315051,2/6/2018,10:00,Male,Park lane,Dallas,No,Furniture,32,3,1
118,456069400,3/9/2018,15:21,Female,Water tower,Chicago,No,Clothing,6,2,2
119,198592951,3/16/2018,15:53,Female,Brookfield,NewYork,Yes,Groceries,72,7,3
120,127206426,1/20/2018,18:17,Male,Park lane,Dallas,No,Clothing,70,1,1
121,812090406,3/29/2018,12:32,Male,Park lane,Dallas,Yes,Fashion,67,5,5
122,277220872,1/17/2018,19:08,Male,Park lane,Dallas,Yes,Clothing,15,6,3
123,366492621,2/22/2018,20:18,Male,Water tower,Chicago,No,Clothing,5,5,5
124,258316154,2/24/2018,18:24,Male,Water tower,Chicago,No,Fashion,1,7,4
125,122309285,1/26/2018,15:07,Male,Water tower,Chicago,Yes,Furniture,54,2,1
126,555703265,2/25/2018,19:48,Male,Brookfield,NewYork,No,Groceries,52,4,3
127,911408389,2/27/2018,10:18,Male,Water tower,Chicago,Yes,Groceries,18,5,2
128,675873533,3/2/2018,15:19,Female,Water tower,Chicago,No,Furniture,62,2,4
129,866739244,1/2/2018,12:14,Female,Brookfield,NewYork,Yes,Books,14,7,1
130,512879237,1/6/2018,20:37,Female,Park lane,Dallas,Yes,Fashion,86,6,5
131,260820560,2/28/2018,20:21,Male,Park lane,Dallas,No,Clothing,29,5,5
132,541985844,1/24/2018,13:22,Female,Brookfield,NewYork,No,Fashion,69,6,1
133,9436913,1/27/2018,14:26,Female,Park lane,Dallas,No,Groceries,9,4,2
134,262498476,3/28/2018,13:23,Female,Park lane,Dallas,Yes,Books,59,7,2
135,442355183,3/25/2018,14:48,Female,Brookfield,NewYork,Yes,Fashion,87,2,3
136,217802268,1/19/2018,12:20,Male,Water tower,Chicago,No,Furniture,70,3,2
137,68624343,3/8/2018,19:16,Male,Water tower,Chicago,No,Sporting,97,2,4
138,48392594,2/4/2018,18:06,Female,Brookfield,NewYork,Yes,Clothing,49,7,1
139,478164051,1/25/2018,13:00,Male,Brookfield,NewYork,Yes,Books,6,6,5
140,723722504,1/5/2018,20:50,Female,Water tower,Chicago,No,Furniture,3,2,1
141,510014671,2/22/2018,19:12,Female,Brookfield,NewYork,No,Furniture,39,4,4
142,895009015,3/13/2018,10:53,Female,Park lane,Dallas,Yes,Fashion,97,4,5
143,995068874,1/31/2018,17:36,Male,Brookfield,NewYork,No,Furniture,34,6,3
144,210787158,3/25/2018,19:17,Male,Park lane,Dallas,Yes,Clothing,15,5,4
145,939718527,3/3/2018,20:04,Female,Water tower,Chicago,Yes,Books,97,7,2
146,140174468,1/27/2018,20:29,Male,Brookfield,NewYork,No,Sporting,61,2,3
147,977135436,1/12/2018,19:25,Female,Park lane,Dallas,No,Sporting,38,3,3
148,8832185,3/3/2018,11:23,Female,Park lane,Dallas,No,Fashion,44,4,1
149,373494614,2/27/2018,12:21,Female,Park lane,Dallas,No,Fashion,49,2,1
150,425924757,1/4/2018,16:47,Female,Park lane,Dallas,Yes,Groceries,67,4,4
151,264102536,2/7/2018,19:28,Female,Brookfield,NewYork,No,Furniture,88,4,3
152,376560178,3/26/2018,10:00,Male,Water tower,Chicago,Yes,Books,2,2,4
153,113991887,1/15/2018,18:43,Male,Brookfield,NewYork,No,Books,85,7,4
154,985931753,2/2/2018,13:12,Male,Park lane,Dallas,No,Books,41,4,2
155,482096810,1/25/2018,13:32,Female,Brookfield,NewYork,Yes,Clothing,91,4,3
156,294501073,3/20/2018,19:50,Female,Water tower,Chicago,No,Sporting,21,1,1
157,928762219,2/27/2018,14:55,Male,Brookfield,NewYork,Yes,Groceries,84,1,5
158,487004803,1/17/2018,20:30,Male,Water tower,Chicago,No,Clothing,56,6,2
159,582323814,1/13/2018,20:06,Male,Brookfield,NewYork,Yes,Fashion,5,4,2
160,513905846,1/28/2018,20:42,Female,Water tower,Chicago,Yes,Clothing,36,5,3
161,289206319,1/11/2018,14:53,Male,Water tower,Chicago,No,Groceries,68,1,5
162,257338584,3/23/2018,10:09,Female,Water tower,Chicago,Yes,Books,34,3,5
163,58932351,3/1/2018,15:39,Female,Water tower,Chicago,Yes,Fashion,32,1,4
164,602936337,1/24/2018,15:42,Male,Water tower,Chicago,No,Sporting,17,6,1
165,404247810,3/5/2018,13:41,Male,Park lane,Dallas,No,Furniture,98,6,5
166,465624646,1/19/2018,10:30,Female,Brookfield,NewYork,Yes,Books,67,7,3
167,219007732,3/16/2018,13:25,Male,Brookfield,NewYork,No,Clothing,71,1,4
168,916085444,3/20/2018,14:38,Male,Brookfield,NewYork,No,Fashion,91,4,1
169,662413753,2/7/2018,18:14,Male,Brookfield,NewYork,Yes,Books,48,6,1
170,702839682,3/29/2018,13:46,Female,Water tower,Chicago,Yes,Sporting,73,5,5
171,585656963,1/10/2018,14:35,Female,Park lane,Dallas,Yes,Groceries,71,1,5
172,253581497,1/24/2018,14:15,Male,Water tower,Chicago,Yes,Furniture,97,7,5
173,882131997,3/19/2018,18:31,Female,Brookfield,NewYork,Yes,Sporting,72,2,4
174,462468336,2/2/2018,13:18,Male,Park lane,Dallas,Yes,Furniture,80,4,2
175,629406644,2/11/2018,18:02,Male,Brookfield,NewYork,Yes,Groceries,30,4,1
176,474601530,3/8/2018,15:18,Female,Brookfield,NewYork,No,Sporting,70,3,4
177,462439346,3/6/2018,11:17,Male,Park lane,Dallas,Yes,Sporting,62,7,5
178,215114097,1/26/2018,20:24,Female,Park lane,Dallas,Yes,Fashion,4,6,5
179,543642731,3/6/2018,15:48,Female,Park lane,Dallas,No,Books,25,4,1
180,481437943,1/10/2018,14:35,Female,Brookfield,NewYork,No,Clothing,58,4,3
181,124926696,1/7/2018,18:14,Male,Water tower,Chicago,Yes,Groceries,36,5,5
182,129896806,1/27/2018,17:16,Female,Brookfield,NewYork,No,Groceries,93,4,2
183,706578333,3/28/2018,11:12,Female,Water tower,Chicago,No,Sporting,61,1,2
184,801334050,1/21/2018,20:18,Female,Park lane,Dallas,No,Furniture,1,1,2
185,442630573,3/14/2018,13:58,Female,Park lane,Dallas,Yes,Furniture,42,4,4
186,7730990,1/25/2018,18:35,Male,Water tower,Chicago,No,Groceries,8,7,2
187,805244200,1/28/2018,19:55,Female,Water tower,Chicago,Yes,Books,80,3,4
188,458523449,2/25/2018,12:10,Female,Water tower,Chicago,Yes,Clothing,43,1,1
189,762712864,1/18/2018,18:20,Female,Water tower,Chicago,No,Books,31,5,3
190,660523948,3/27/2018,18:51,Female,Park lane,Dallas,No,Books,97,2,4
191,336253887,3/16/2018,13:14,Female,Brookfield,NewYork,No,Furniture,72,1,1
192,951079308,1/2/2018,19:05,Female,Water tower,Chicago,No,Furniture,36,4,5
193,447153891,1/11/2018,11:25,Male,Water tower,Chicago,No,Fashion,52,3,3
194,795528663,3/13/2018,19:15,Male,Brookfield,NewYork,No,Furniture,81,1,4
195,343603860,2/4/2018,14:57,Female,Park lane,Dallas,No,Sporting,76,3,3
196,925499362,1/12/2018,11:22,Female,Brookfield,NewYork,Yes,Clothing,78,4,2
197,579316236,3/1/2018,13:44,Female,Water tower,Chicago,Yes,Books,77,4,3
198,445531158,2/9/2018,20:19,Female,Park lane,Dallas,No,Fashion,27,7,5
199,805526095,3/27/2018,18:00,Male,Park lane,Dallas,Yes,Furniture,56,1,4
200,576523018,2/15/2018,12:35,Male,Water tower,Chicago,No,Groceries,82,1,4
201,414119922,1/30/2018,11:07,Male,Water tower,Chicago,No,Sporting,44,7,3
202,123247697,2/8/2018,20:03,Male,Brookfield,NewYork,No,Groceries,22,7,5
203,40419058,1/26/2018,14:53,Male,Water tower,Chicago,Yes,Books,95,6,1
204,890497298,2/25/2018,18:06,Female,Water tower,Chicago,No,Clothing,69,2,2
205,885702268,1/28/2018,12:45,Male,Brookfield,NewYork,No,Groceries,89,6,1
206,172252194,3/22/2018,20:10,Female,Park lane,Dallas,No,Books,41,6,4
207,866140211,2/25/2018,13:34,Female,Park lane,Dallas,No,Clothing,54,6,4
208,597678548,3/15/2018,17:35,Male,Water tower,Chicago,Yes,Sporting,34,3,1
209,428818456,2/25/2018,18:50,Male,Park lane,Dallas,Yes,Books,94,5,2
210,236950025,3/9/2018,12:40,Female,Brookfield,NewYork,Yes,Furniture,76,4,3
211,17451639,1/4/2018,14:58,Male,Water tower,Chicago,Yes,Groceries,68,3,3
212,102177003,2/11/2018,13:48,Female,Water tower,Chicago,No,Furniture,25,5,1
213,218871659,3/23/2018,13:58,Female,Park lane,Dallas,No,Clothing,88,2,2
214,380559090,3/12/2018,20:21,Male,Brookfield,NewYork,No,Furniture,86,3,5
215,503167669,2/3/2018,10:17,Female,Water tower,Chicago,Yes,Books,87,1,4
216,717822067,1/17/2018,19:28,Female,Park lane,Dallas,No,Clothing,44,4,1
217,690344669,3/5/2018,14:16,Female,Brookfield,NewYork,Yes,Sporting,57,6,4
218,142754784,1/19/2018,16:59,Male,Brookfield,NewYork,No,Furniture,73,2,3
219,167561353,2/12/2018,15:51,Male,Water tower,Chicago,Yes,Sporting,83,1,1
220,254046171,2/25/2018,20:46,Female,Water tower,Chicago,No,Groceries,41,7,2
221,854537427,1/27/2018,10:29,Female,Water tower,Chicago,No,Fashion,65,5,1
222,747580730,1/8/2018,20:13,Female,Park lane,Dallas,Yes,Groceries,88,6,5
223,709844678,2/6/2018,14:28,Male,Water tower,Chicago,Yes,Furniture,88,2,3
224,367955130,3/24/2018,14:28,Male,Park lane,Dallas,Yes,Clothing,83,7,1
225,504897642,3/27/2018,15:26,Female,Park lane,Dallas,No,Fashion,96,3,1
226,747422231,1/16/2018,17:22,Male,Water tower,Chicago,Yes,Furniture,35,4,5
227,811044705,2/1/2018,18:15,Female,Brookfield,NewYork,Yes,Fashion,19,7,1
228,127073944,3/23/2018,12:25,Male,Water tower,Chicago,Yes,Sporting,1,2,4
229,871865175,1/7/2018,11:40,Female,Brookfield,NewYork,No,Groceries,43,3,4
230,620285039,1/16/2018,20:35,Male,Brookfield,NewYork,No,Furniture,25,6,1
231,819356401,1/27/2018,11:42,Male,Water tower,Chicago,Yes,Sporting,10,2,2
232,911826601,1/6/2018,20:31,Female,Brookfield,NewYork,No,Sporting,52,3,1
233,669032497,3/8/2018,14:49,Male,Brookfield,NewYork,Yes,Books,38,6,2
234,225317134,3/5/2018,11:33,Male,Water tower,Chicago,No,Groceries,81,5,2
235,653059896,1/4/2018,10:22,Female,Water tower,Chicago,No,Furniture,71,6,1
236,127629037,1/31/2018,18:01,Male,Park lane,Dallas,No,Books,53,2,2
237,758557542,1/24/2018,11:49,Male,Water tower,Chicago,Yes,Furniture,82,7,4
238,565456402,1/23/2018,14:51,Female,Brookfield,NewYork,No,Groceries,28,1,3
239,194348272,2/11/2018,19:38,Male,Park lane,Dallas,Yes,Sporting,28,3,3
240,193544907,1/5/2018,14:42,Male,Brookfield,NewYork,Yes,Fashion,76,2,2
241,856147365,1/8/2018,13:28,Male,Water tower,Chicago,No,Groceries,4,2,5
242,6282900,1/31/2018,15:36,Male,Park lane,Dallas,No,Fashion,87,4,4
243,467919747,3/3/2018,19:41,Male,Park lane,Dallas,No,Clothing,13,2,1
244,927773751,3/12/2018,11:15,Male,Brookfield,NewYork,No,Groceries,97,1,5
245,794563981,1/13/2018,19:43,Female,Brookfield,NewYork,No,Clothing,93,5,1
246,956599137,3/7/2018,12:28,Female,Park lane,Dallas,No,Furniture,68,5,2
247,324945582,3/5/2018,19:20,Female,Brookfield,NewYork,No,Groceries,21,1,2
248,759811716,2/25/2018,16:50,Female,Brookfield,NewYork,No,Clothing,51,1,3
249,869486626,2/28/2018,12:07,Male,Water tower,Chicago,No,Clothing,56,7,4
250,28957439,1/27/2018,11:42,Male,Brookfield,NewYork,No,Furniture,50,7,2
251,186033359,2/26/2018,19:51,Female,Water tower,Chicago,Yes,Books,42,3,3
252,164945303,3/3/2018,14:42,Male,Park lane,Dallas,No,Furniture,38,4,1
253,702697570,2/2/2018,18:19,Male,Water tower,Chicago,Yes,Groceries,96,1,1
254,867298669,3/6/2018,17:49,Female,Park lane,Dallas,Yes,Books,62,3,4
255,636062627,3/11/2018,18:44,Female,Park lane,Dallas,No,Books,46,4,5
256,338808619,1/12/2018,19:46,Male,Water tower,Chicago,No,Fashion,71,5,1
257,874941247,3/1/2018,11:24,Female,Brookfield,NewYork,No,Sporting,27,1,3
258,154062156,3/14/2018,18:33,Female,Brookfield,NewYork,No,Groceries,16,7,5
259,309278030,1/15/2018,20:43,Female,Brookfield,NewYork,No,Books,63,3,1
260,408055541,2/18/2018,10:12,Female,Brookfield,NewYork,Yes,Groceries,65,3,5
261,304439467,2/19/2018,19:07,Female,Park lane,Dallas,No,Fashion,70,2,4
262,790571300,2/7/2018,10:05,Male,Brookfield,NewYork,Yes,Furniture,70,2,1
263,554782714,2/22/2018,11:51,Male,Park lane,Dallas,Yes,Clothing,93,4,5
264,407767721,2/13/2018,13:30,Male,Water tower,Chicago,Yes,Groceries,12,1,3
265,976927980,1/6/2018,10:23,Female,Park lane,Dallas,Yes,Furniture,70,7,3
266,882195569,2/19/2018,19:53,Female,Park lane,Dallas,No,Sporting,99,6,2
267,830582585,1/17/2018,15:27,Female,Water tower,Chicago,Yes,Books,56,6,1
268,847040407,3/21/2018,14:42,Female,Park lane,Dallas,No,Groceries,91,2,1
269,169212942,3/12/2018,10:50,Male,Park lane,Dallas,Yes,Clothing,65,4,3
270,953734168,1/29/2018,11:29,Male,Water tower,Chicago,Yes,Groceries,16,4,5
271,638590060,1/27/2018,18:08,Female,Water tower,Chicago,No,Groceries,34,6,5

Excluir registros NaN (Not a Number)

In [27]:
df.dropna()

,Invoice ID,Date,Time,Gender,Location,City,Member,Category,Price,Quantity,Total,Payment,Rating
0,460489604,1/25/2018,16:46,Male,Brookfield,NewYork,Yes,Groceries,30,1,30,Cash,2
1,471006167,3/19/2018,16:48,Female,Water tower,Chicago,Yes,Fashion,35,5,175,Card,3
2,411909258,2/25/2018,13:33,Male,Water tower,Chicago,No,Clothing,57,2,114,Cash,5
3,487313402,1/22/2018,13:38,Female,Park lane,Dallas,Yes,Sporting,89,4,356,Gpay,1
4,197763430,2/18/2018,15:31,Female,Park lane,Dallas,No,Books,82,5,410,Cash,4
5,263634050,3/9/2018,17:55,Male,Brookfield,NewYork,Yes,Clothing,52,4,208,Gpay,3
6,99646662,3/4/2018,13:21,Male,Water tower,Chicago,No,Clothing,81,3,243,Cash,4
7,188869875,3/8/2018,13:24,Male,Park lane,Dallas,No,Books,80,2,160,Cash,3
8,325637547,1/18/2018,15:33,Male,Park lane,Dallas,Yes,Clothing,91,3,273,Card,3
9,562942936,2/24/2018,16:05,Female,Park lane,Dallas,No,Books,80,2,160,Cash,4
10,388412668,2/26/2018,11:32,Female,Brookfield,NewYork,No,Furniture,35,4,140,Gpay,4
11,846531724,3/15/2018,12:12,Male,Park lane,Dallas,No,Sporting,22,5,110,Card,4
12,149894432,1/12/2018,11:12,Male,Park lane,Dallas,No,Clothing,77,5,385,Cash,4
13,942406749,1/18/2018,15:20,Female,Water tower,Chicago,Yes,Clothing,9,6,54,Gpay,5
14,547572603,3/21/2018,13:23,Female,Brookfield,NewYork,No,Fashion,98,7,686,Gpay,3
15,355981315,2/15/2018,15:47,Female,Brookfield,NewYork,Yes,Clothing,78,5,390,Card,5
16,397754805,2/9/2018,15:59,Female,Brookfield,NewYork,Yes,Sporting,35,7,245,Gpay,1
17,90524319,3/19/2018,18:18,Male,Park lane,Dallas,Yes,Clothing,23,1,23,Cash,3
18,542144906,2/6/2018,10:58,Female,Brookfield,NewYork,Yes,Fashion,33,5,165,Gpay,2
19,729486362,3/7/2018,12:50,Male,Water tower,Chicago,No,Groceries,39,4,156,Cash,3
20,619639105,3/26/2018,19:48,Female,Brookfield,NewYork,No,Groceries,44,6,264,Cash,1
21,443198801,2/24/2018,19:31,Female,Brookfield,NewYork,No,Clothing,48,5,240,Card,5
22,761515143,1/15/2018,16:08,Female,Park lane,Dallas,No,Groceries,23,1,23,Gpay,3
23,56578535,3/23/2018,10:11,Male,Water tower,Chicago,Yes,Groceries,24,1,24,Gpay,2
24,834838148,2/15/2018,13:00,Male,Brookfield,NewYork,Yes,Groceries,12,4,48,Card,1
25,833288071,1/25/2018,15:02,Male,Water tower,Chicago,No,Sporting,16,5,80,Gpay,2
26,508614950,1/24/2018,16:47,Female,Park lane,Dallas,No,Sporting,38,2,76,Cash,4
27,103072863,3/12/2018,11:57,Male,Water tower,Chicago,No,Groceries,41,6,246,Card,5
28,355815500,1/20/2018,15:09,Female,Park lane,Dallas,Yes,Furniture,16,6,96,Card,2
29,193855414,3/4/2018,12:04,Female,Brookfield,NewYork,Yes,Clothing,51,4,204,Card,2
30,600792216,3/6/2018,17:04,Male,Park lane,Dallas,Yes,Clothing,42,7,294,Card,5
31,567867755,2/3/2018,20:59,Female,Brookfield,NewYork,No,Furniture,86,3,258,Cash,2
32,597934753,3/26/2018,16:46,Female,Brookfield,NewYork,No,Clothing,19,6,114,Card,3
33,419033295,3/24/2018,15:57,Male,Water tower,Chicago,Yes,Furniture,68,2,136,Gpay,4
34,8795029,1/19/2018,17:03,Female,Brookfield,NewYork,No,Clothing,4,2,8,Card,2
35,912473338,2/25/2018,11:27,Male,Park lane,Dallas,No,Sporting,41,7,287,Gpay,1
36,209725428,3/20/2018,12:45,Female,Water tower,Chicago,Yes,Sporting,79,7,553,Gpay,1
37,460044751,2/22/2018,16:20,Male,Brookfield,NewYork,No,Fashion,45,5,225,Cash,4
38,191736512,2/14/2018,14:13,Female,Park lane,Dallas,No,Sporting,60,6,360,Cash,1
39,979973145,1/14/2018,19:26,Female,Brookfield,NewYork,Yes,Sporting,79,4,316,Gpay,4
40,43371182,1/28/2018,19:24,Male,Park lane,Dallas,Yes,Clothing,75,7,525,Cash,2
41,613811022,1/9/2018,20:55,Male,Water tower,Chicago,No,Clothing,24,7,168,Cash,4
42,673603546,3/26/2018,10:11,Female,Water tower,Chicago,No,Groceries,40,5,200,Gpay,1
43,328132417,1/3/2018,19:01,Female,Water tower,Chicago,No,Fashion,9,2,18,Cash,2
44,325924536,3/4/2018,10:38,Female,Park lane,Dallas,No,Clothing,16,7,112,Gpay,3
45,747705702,2/7/2018,13:57,Male,Brookfield,NewYork,Yes,Books,31,5,155,Gpay,1
46,450817216,2/7/2018,10:57,Female,Water tower,Chicago,Yes,Furniture,79,7,553,Gpay,4
47,315624039,3/30/2018,19:45,Female,Water tower,Chicago,Yes,Groceries,99,7,693,Gpay,3
48,888822600,1/12/2018,19:49,Female,Water tower,Chicago,No,Groceries,4,2,8,Card,5
49,896399395,2/15/2018,14:36,Male,Park lane,Dallas,Yes,Clothing,26,7,182,Cash,2
50,20548577,1/7/2018,14:00,Male,Park lane,Dallas,Yes,Furniture,43,2,86,Gpay,5
51,500850764,3/19/2018,14:04,Female,Water tower,Chicago,No,Groceries,67,1,67,Gpay,1
52,466598448,2/2/2018,18:50,Female,Brookfield,NewYork,No,Books,78,7,546,Gpay,5
53,265371038,2/26/2018,13:53,Male,Brookfield,NewYork,Yes,Sporting,29,1,29,Card,4
54,175938157,3/28/2018,12:58,Female,Brookfield,NewYork,Yes,Fashion,62,4,248,Gpay,5
55,839600262,1/5/2018,19:30,Female,Park lane,Dallas,Yes,Groceries,32,2,64,Cash,1
56,885253494,3/24/2018,12:52,Male,Park lane,Dallas,Yes,Sporting,53,1,53,Gpay,4
57,180545139,3/14/2018,10:46,Female,Brookfield,NewYork,Yes,Clothing,87,7,609,Gpay,1
58,227063423,1/16/2018,16:38,Male,Water tower,Chicago,No,Books,47,4,188,Gpay,3
59,500777576,3/22/2018,12:22,Female,Water tower,Chicago,No,Sporting,60,7,420,Gpay,5
60,426576006,1/22/2018,17:34,Female,Brookfield,NewYork,No,Sporting,21,1,21,Gpay,5
61,934647292,1/18/2018,11:26,Male,Water tower,Chicago,No,Fashion,59,6,354,Cash,4
62,975443414,3/30/2018,12:58,Male,Park lane,Dallas,No,Groceries,23,3,69,Card,2
63,858716993,2/3/2018,17:38,Male,Water tower,Chicago,Yes,Furniture,56,4,224,Gpay,4
64,776761484,1/29/2018,17:59,Female,Water tower,Chicago,No,Clothing,4,5,20,Gpay,5
65,798252244,1/23/2018,11:05,Male,Park lane,Dallas,Yes,Sporting,51,7,357,Gpay,2
66,595065138,2/17/2018,13:55,Male,Park lane,Dallas,No,Fashion,21,2,42,Gpay,3
67,366083315,3/11/2018,13:54,Female,Park lane,Dallas,No,Groceries,68,5,340,Gpay,3
68,746011173,2/17/2018,18:31,Male,Brookfield,NewYork,No,Books,51,7,357,Gpay,5
69,687132774,3/11/2018,13:21,Female,Park lane,Dallas,No,Sporting,26,2,52,Gpay,3
70,554361739,1/2/2018,17:24,Male,Brookfield,NewYork,Yes,Books,97,6,582,Cash,4
71,563130623,2/27/2018,10:41,Male,Park lane,Dallas,No,Furniture,23,5,115,Gpay,4
72,380354826,3/4/2018,12:10,Female,Water tower,Chicago,No,Fashion,28,7,196,Gpay,5
73,107399414,3/17/2018,10:16,Male,Brookfield,NewYork,Yes,Groceries,65,3,195,Card,2
74,851267575,1/7/2018,12:07,Male,Water tower,Chicago,No,Books,74,1,74,Gpay,5
75,437093770,2/7/2018,16:42,Female,Park lane,Dallas,Yes,Sporting,4,1,4,Cash,2
76,177764380,2/17/2018,17:37,Male,Water tower,Chicago,Yes,Furniture,50,4,200,Card,4
77,36054637,2/17/2018,11:15,Male,Water tower,Chicago,Yes,Clothing,56,5,280,Cash,5
78,127420911,2/21/2018,15:06,Male,Water tower,Chicago,Yes,Groceries,39,7,273,Cash,3
79,709746437,1/7/2018,13:22,Male,Park lane,Dallas,Yes,Groceries,39,5,195,Card,3
80,867695625,1/17/2018,19:46,Male,Water tower,Chicago,No,Clothing,36,7,252,Card,5
81,336967276,1/19/2018,17:54,Male,Brookfield,NewYork,No,Books,36,1,36,Cash,5
82,677779969,1/26/2018,17:08,Male,Water tower,Chicago,Yes,Books,14,2,28,Gpay,2
83,401666792,2/7/2018,12:17,Female,Brookfield,NewYork,Yes,Furniture,51,6,306,Gpay,2
84,616515038,3/10/2018,14:12,Female,Water tower,Chicago,Yes,Groceries,10,2,20,Cash,5
85,160906524,1/25/2018,11:51,Female,Park lane,Dallas,No,Fashion,25,7,175,Gpay,2
86,978363495,3/23/2018,14:13,Male,Water tower,Chicago,No,Groceries,9,3,27,Gpay,2
87,198509753,1/19/2018,17:10,Male,Park lane,Dallas,Yes,Furniture,11,5,55,Gpay,1
88,580839402,2/8/2018,18:30,Female,Brookfield,NewYork,No,Clothing,63,6,378,Card,5
89,533156738,3/24/2018,13:57,Male,Water tower,Chicago,No,Clothing,3,2,6,Cash,4
90,117522526,2/3/2018,10:40,Male,Park lane,Dallas,No,Books,13,3,39,Gpay,1
91,727593101,3/2/2018,16:06,Male,Park lane,Dallas,Yes,Groceries,77,2,154,Card,3
92,446636139,1/20/2018,16:51,Male,Brookfield,NewYork,Yes,Books,42,3,126,Card,1
93,993368037,1/26/2018,15:29,Female,Water tower,Chicago,Yes,Fashion,43,7,301,Gpay,3
94,435094946,1/12/2018,10:54,Male,Brookfield,NewYork,No,Sporting,80,6,480,Cash,5
95,842361554,1/14/2018,16:17,Male,Brookfield,NewYork,Yes,Clothing,5,1,5,Cash,2
96,964002523,3/4/2018,17:38,Male,Water tower,Chicago,No,Sporting,56,6,336,Cash,2
97,719679728,1/13/2018,15:29,Male,Water tower,Chicago,Yes,Books,87,5,435,Cash,4
98,748990073,3/12/2018,20:15,Male,Water tower,Chicago,No,Sporting,26,3,78,Cash,5
99,407802065,2/14/2018,18:03,Female,Brookfield,NewYork,No,Sporting,94,2,188,Gpay,3
100,515862366,2/12/2018,10:57,Female,Park lane,Dallas,No,Sporting,94,6,564,Card,3
101,42787009,3/28/2018,11:25,Female,Park lane,Dallas,Yes,Clothing,30,3,90,Card,5
102,780195692,2/20/2018,12:42,Female,Park lane,Dallas,No,Books,29,6,174,Cash,1
103,881639873,2/27/2018,15:05,Male,Park lane,Dallas,Yes,Fashion,64,1,64,Gpay,5
104,443388850,2/5/2018,16:31,Male,Brookfield,NewYork,Yes,Furniture,97,5,485,Card,4
105,635503529,3/24/2018,15:17,Male,Water tower,Chicago,No,Books,61,6,366,Cash,5
106,774895188,2/7/2018,20:29,Female,Brookfield,NewYork,Yes,Books,17,6,102,Card,1
107,194154086,2/11/2018,16:28,Female,Brookfield,NewYork,Yes,Furniture,4,5,20,Gpay,4
108,191782944,1/20/2018,19:28,Female,Brookfield,NewYork,Yes,Clothing,43,1,43,Card,1
109,949506131,2/8/2018,10:43,Male,Brookfield,NewYork,Yes,Sporting,50,6,300,Gpay,2
110,866328026,1/3/2018,14:41,Male,Water tower,Chicago,Yes,Sporting,61,1,61,Gpay,2
111,43708341,3/5/2018,15:54,Male,Park lane,Dallas,Yes,Groceries,37,3,111,Card,4
112,337106518,1/1/2018,12:08,Male,Water tower,Chicago,Yes,Groceries,19,3,57,Gpay,3
113,663329867,2/2/2018,14:27,Female,Brookfield,NewYork,Yes,Books,5,6,30,Gpay,3
114,419221776,1/31/2018,20:36,Female,Park lane,Dallas,Yes,Sporting,38,4,152,Cash,5
115,745600525,3/27/2018,13:45,Male,Park lane,Dallas,Yes,Sporting,75,7,525,Card,5
116,208190296,3/6/2018,13:05,Male,Brookfield,NewYork,No,Sporting,3,6,18,Card,2
117,4315051,2/6/2018,10:00,Male,Park lane,Dallas,No,Furniture,32,3,96,Gpay,1
118,456069400,3/9/2018,15:21,Female,Water tower,Chicago,No,Clothing,6,2,12,Cash,2
119,198592951,3/16/2018,15:53,Female,Brookfield,NewYork,Yes,Groceries,72,7,504,Cash,3
120,127206426,1/20/2018,18:17,Male,Park lane,Dallas,No,Clothing,70,1,70,Card,1
121,812090406,3/29/2018,12:32,Male,Park lane,Dallas,Yes,Fashion,67,5,335,Gpay,5
122,277220872,1/17/2018,19:08,Male,Park lane,Dallas,Yes,Clothing,15,6,90,Card,3
123,366492621,2/22/2018,20:18,Male,Water tower,Chicago,No,Clothing,5,5,25,Gpay,5
124,258316154,2/24/2018,18:24,Male,Water tower,Chicago,No,Fashion,1,7,7,Card,4
125,122309285,1/26/2018,15:07,Male,Water tower,Chicago,Yes,Furniture,54,2,108,Card,1
126,555703265,2/25/2018,19:48,Male,Brookfield,NewYork,No,Groceries,52,4,208,Gpay,3
127,911408389,2/27/2018,10:18,Male,Water tower,Chicago,Yes,Groceries,18,5,90,Card,2
128,675873533,3/2/2018,15:19,Female,Water tower,Chicago,No,Furniture,62,2,124,Card,4
129,866739244,1/2/2018,12:14,Female,Brookfield,NewYork,Yes,Books,14,7,98,Gpay,1
130,512879237,1/6/2018,20:37,Female,Park lane,Dallas,Yes,Fashion,86,6,516,Card,5
131,260820560,2/28/2018,20:21,Male,Park lane,Dallas,No,Clothing,29,5,145,Gpay,5
132,541985844,1/24/2018,13:22,Female,Brookfield,NewYork,No,Fashion,69,6,414,Gpay,1
133,9436913,1/27/2018,14:26,Female,Park lane,Dallas,No,Groceries,9,4,36,Cash,2
134,262498476,3/28/2018,13:23,Female,Park lane,Dallas,Yes,Books,59,7,413,Gpay,2
135,442355183,3/25/2018,14:48,Female,Brookfield,NewYork,Yes,Fashion,87,2,174,Cash,3
136,217802268,1/19/2018,12:20,Male,Water tower,Chicago,No,Furniture,70,3,210,Cash,2
137,68624343,3/8/2018,19:16,Male,Water tower,Chicago,No,Sporting,97,2,194,Gpay,4
138,48392594,2/4/2018,18:06,Female,Brookfield,NewYork,Yes,Clothing,49,7,343,Cash,1
139,478164051,1/25/2018,13:00,Male,Brookfield,NewYork,Yes,Books,6,6,36,Gpay,5
140,723722504,1/5/2018,20:50,Female,Water tower,Chicago,No,Furniture,3,2,6,Gpay,1
141,510014671,2/22/2018,19:12,Female,Brookfield,NewYork,No,Furniture,39,4,156,Gpay,4
142,895009015,3/13/2018,10:53,Female,Park lane,Dallas,Yes,Fashion,97,4,388,Card,5
143,995068874,1/31/2018,17:36,Male,Brookfield,NewYork,No,Furniture,34,6,204,Card,3
144,210787158,3/25/2018,19:17,Male,Park lane,Dallas,Yes,Clothing,15,5,75,Cash,4
145,939718527,3/3/2018,20:04,Female,Water tower,Chicago,Yes,Books,97,7,679,Cash,2
146,140174468,1/27/2018,20:29,Male,Brookfield,NewYork,No,Sporting,61,2,122,Cash,3
147,977135436,1/12/2018,19:25,Female,Park lane,Dallas,No,Sporting,38,3,114,Card,3
148,8832185,3/3/2018,11:23,Female,Park lane,Dallas,No,Fashion,44,4,176,Gpay,1
149,373494614,2/27/2018,12:21,Female,Park lane,Dallas,No,Fashion,49,2,98,Card,1
150,425924757,1/4/2018,16:47,Female,Park lane,Dallas,Yes,Groceries,67,4,268,Card,4
151,264102536,2/7/2018,19:28,Female,Brookfield,NewYork,No,Furniture,88,4,352,Cash,3
152,376560178,3/26/2018,10:00,Male,Water tower,Chicago,Yes,Books,2,2,4,Card,4
153,113991887,1/15/2018,18:43,Male,Brookfield,NewYork,No,Books,85,7,595,Card,4
154,985931753,2/2/2018,13:12,Male,Park lane,Dallas,No,Books,41,4,164,Card,2
155,482096810,1/25/2018,13:32,Female,Brookfield,NewYork,Yes,Clothing,91,4,364,Card,3
156,294501073,3/20/2018,19:50,Female,Water tower,Chicago,No,Sporting,21,1,21,Card,1
157,928762219,2/27/2018,14:55,Male,Brookfield,NewYork,Yes,Groceries,84,1,84,Card,5
158,487004803,1/17/2018,20:30,Male,Water tower,Chicago,No,Clothing,56,6,336,Gpay,2
159,582323814,1/13/2018,20:06,Male,Brookfield,NewYork,Yes,Fashion,5,4,20,Cash,2
160,513905846,1/28/2018,20:42,Female,Water tower,Chicago,Yes,Clothing,36,5,180,Card,3
161,289206319,1/11/2018,14:53,Male,Water tower,Chicago,No,Groceries,68,1,68,Cash,5
162,257338584,3/23/2018,10:09,Female,Water tower,Chicago,Yes,Books,34,3,102,Gpay,5
163,58932351,3/1/2018,15:39,Female,Water tower,Chicago,Yes,Fashion,32,1,32,Gpay,4
164,602936337,1/24/2018,15:42,Male,Water tower,Chicago,No,Sporting,17,6,102,Cash,1
165,404247810,3/5/2018,13:41,Male,Park lane,Dallas,No,Furniture,98,6,588,Gpay,5
166,465624646,1/19/2018,10:30,Female,Brookfield,NewYork,Yes,Books,67,7,469,Cash,3
167,219007732,3/16/2018,13:25,Male,Brookfield,NewYork,No,Clothing,71,1,71,Cash,4
168,916085444,3/20/2018,14:38,Male,Brookfield,NewYork,No,Fashion,91,4,364,Gpay,1
169,662413753,2/7/2018,18:14,Male,Brookfield,NewYork,Yes,Books,48,6,288,Gpay,1
170,702839682,3/29/2018,13:46,Female,Water tower,Chicago,Yes,Sporting,73,5,365,Card,5
171,585656963,1/10/2018,14:35,Female,Park lane,Dallas,Yes,Groceries,71,1,71,Card,5
172,253581497,1/24/2018,14:15,Male,Water tower,Chicago,Yes,Furniture,97,7,679,Cash,5
173,882131997,3/19/2018,18:31,Female,Brookfield,NewYork,Yes,Sporting,72,2,144,Gpay,4
174,462468336,2/2/2018,13:18,Male,Park lane,Dallas,Yes,Furniture,80,4,320,Card,2
175,629406644,2/11/2018,18:02,Male,Brookfield,NewYork,Yes,Groceries,30,4,120,Gpay,1
176,474601530,3/8/2018,15:18,Female,Brookfield,NewYork,No,Sporting,70,3,210,Gpay,4
177,462439346,3/6/2018,11:17,Male,Park lane,Dallas,Yes,Sporting,62,7,434,Cash,5
178,215114097,1/26/2018,20:24,Female,Park lane,Dallas,Yes,Fashion,4,6,24,Card,5
179,543642731,3/6/2018,15:48,Female,Park lane,Dallas,No,Books,25,4,100,Cash,1
180,481437943,1/10/2018,14:35,Female,Brookfield,NewYork,No,Clothing,58,4,232,Gpay,3
181,124926696,1/7/2018,18:14,Male,Water tower,Chicago,Yes,Groceries,36,5,180,Cash,5
182,129896806,1/27/2018,17:16,Female,Brookfield,NewYork,No,Groceries,93,4,372,Card,2
183,706578333,3/28/2018,11:12,Female,Water tower,Chicago,No,Sporting,61,1,61,Gpay,2
184,801334050,1/21/2018,20:18,Female,Park lane,Dallas,No,Furniture,1,1,1,Gpay,2
185,442630573,3/14/2018,13:58,Female,Park lane,Dallas,Yes,Furniture,42,4,168,Card,4
186,7730990,1/25/2018,18:35,Male,Water tower,Chicago,No,Groceries,8,7,56,Cash,2
187,805244200,1/28/2018,19:55,Female,Water tower,Chicago,Yes,Books,80,3,240,Card,4
188,458523449,2/25/2018,12:10,Female,Water tower,Chicago,Yes,Clothing,43,1,43,Card,1
189,762712864,1/18/2018,18:20,Female,Water tower,Chicago,No,Books,31,5,155,Gpay,3
190,660523948,3/27/2018,18:51,Female,Park lane,Dallas,No,Books,97,2,194,Cash,4
191,336253887,3/16/2018,13:14,Female,Brookfield,NewYork,No,Furniture,72,1,72,Card,1
192,951079308,1/2/2018,19:05,Female,Water tower,Chicago,No,Furniture,36,4,144,Gpay,5
193,447153891,1/11/2018,11:25,Male,Water tower,Chicago,No,Fashion,52,3,156,Cash,3
194,795528663,3/13/2018,19:15,Male,Brookfield,NewYork,No,Furniture,81,1,81,Gpay,4
195,343603860,2/4/2018,14:57,Female,Park lane,Dallas,No,Sporting,76,3,228,Card,3
196,925499362,1/12/2018,11:22,Female,Brookfield,NewYork,Yes,Clothing,78,4,312,Gpay,2
197,579316236,3/1/2018,13:44,Female,Water tower,Chicago,Yes,Books,77,4,308,Gpay,3
198,445531158,2/9/2018,20:19,Female,Park lane,Dallas,No,Fashion,27,7,189,Gpay,5
199,805526095,3/27/2018,18:00,Male,Park lane,Dallas,Yes,Furniture,56,1,56,Gpay,4
200,576523018,2/15/2018,12:35,Male,Water tower,Chicago,No,Groceries,82,1,82,Card,4
201,414119922,1/30/2018,11:07,Male,Water tower,Chicago,No,Sporting,44,7,308,Card,3
202,123247697,2/8/2018,20:03,Male,Brookfield,NewYork,No,Groceries,22,7,154,Card,5
203,40419058,1/26/2018,14:53,Male,Water tower,Chicago,Yes,Books,95,6,570,Card,1
204,890497298,2/25/2018,18:06,Female,Water tower,Chicago,No,Clothing,69,2,138,Cash,2
205,885702268,1/28/2018,12:45,Male,Brookfield,NewYork,No,Groceries,89,6,534,Card,1
206,172252194,3/22/2018,20:10,Female,Park lane,Dallas,No,Books,41,6,246,Card,4
207,866140211,2/25/2018,13:34,Female,Park lane,Dallas,No,Clothing,54,6,324,Gpay,4
208,597678548,3/15/2018,17:35,Male,Water tower,Chicago,Yes,Sporting,34,3,102,Cash,1
209,428818456,2/25/2018,18:50,Male,Park lane,Dallas,Yes,Books,94,5,470,Cash,2
210,236950025,3/9/2018,12:40,Female,Brookfield,NewYork,Yes,Furniture,76,4,304,Card,3
211,17451639,1/4/2018,14:58,Male,Water tower,Chicago,Yes,Groceries,68,3,204,Card,3
212,102177003,2/11/2018,13:48,Female,Water tower,Chicago,No,Furniture,25,5,125,Card,1
213,218871659,3/23/2018,13:58,Female,Park lane,Dallas,No,Clothing,88,2,176,Gpay,2
214,380559090,3/12/2018,20:21,Male,Brookfield,NewYork,No,Furniture,86,3,258,Card,5
215,503167669,2/3/2018,10:17,Female,Water tower,Chicago,Yes,Books,87,1,87,Card,4
216,717822067,1/17/2018,19:28,Female,Park lane,Dallas,No,Clothing,44,4,176,Gpay,1
217,690344669,3/5/2018,14:16,Female,Brookfield,NewYork,Yes,Sporting,57,6,342,Card,4
218,142754784,1/19/2018,16:59,Male,Brookfield,NewYork,No,Furniture,73,2,146,Cash,3
219,167561353,2/12/2018,15:51,Male,Water tower,Chicago,Yes,Sporting,83,1,83,Card,1
220,254046171,2/25/2018,20:46,Female,Water tower,Chicago,No,Groceries,41,7,287,Gpay,2
221,854537427,1/27/2018,10:29,Female,Water tower,Chicago,No,Fashion,65,5,325,Gpay,1
222,747580730,1/8/2018,20:13,Female,Park lane,Dallas,Yes,Groceries,88,6,528,Gpay,5
223,709844678,2/6/2018,14:28,Male,Water tower,Chicago,Yes,Furniture,88,2,176,Cash,3
224,367955130,3/24/2018,14:28,Male,Park lane,Dallas,Yes,Clothing,83,7,581,Cash,1
225,504897642,3/27/2018,15:26,Female,Park lane,Dallas,No,Fashion,96,3,288,Gpay,1
226,747422231,1/16/2018,17:22,Male,Water tower,Chicago,Yes,Furniture,35,4,140,Gpay,5
227,811044705,2/1/2018,18:15,Female,Brookfield,NewYork,Yes,Fashion,19,7,133,Gpay,1
228,127073944,3/23/2018,12:25,Male,Water tower,Chicago,Yes,Sporting,1,2,2,Card,4
229,871865175,1/7/2018,11:40,Female,Brookfield,NewYork,No,Groceries,43,3,129,Gpay,4
230,620285039,1/16/2018,20:35,Male,Brookfield,NewYork,No,Furniture,25,6,150,Cash,1
231,819356401,1/27/2018,11:42,Male,Water tower,Chicago,Yes,Sporting,10,2,20,Card,2
232,911826601,1/6/2018,20:31,Female,Brookfield,NewYork,No,Sporting,52,3,156,Card,1
233,669032497,3/8/2018,14:49,Male,Brookfield,NewYork,Yes,Books,38,6,228,Card,2
234,225317134,3/5/2018,11:33,Male,Water tower,Chicago,No,Groceries,81,5,405,Cash,2
235,653059896,1/4/2018,10:22,Female,Water tower,Chicago,No,Furniture,71,6,426,Gpay,1
236,127629037,1/31/2018,18:01,Male,Park lane,Dallas,No,Books,53,2,106,Gpay,2
237,758557542,1/24/2018,11:49,Male,Water tower,Chicago,Yes,Furniture,82,7,574,Cash,4
238,565456402,1/23/2018,14:51,Female,Brookfield,NewYork,No,Groceries,28,1,28,Cash,3
239,194348272,2/11/2018,19:38,Male,Park lane,Dallas,Yes,Sporting,28,3,84,Gpay,3
240,193544907,1/5/2018,14:42,Male,Brookfield,NewYork,Yes,Fashion,76,2,152,Cash,2
241,856147365,1/8/2018,13:28,Male,Water tower,Chicago,No,Groceries,4,2,8,Gpay,5
242,6282900,1/31/2018,15:36,Male,Park lane,Dallas,No,Fashion,87,4,348,Gpay,4
243,467919747,3/3/2018,19:41,Male,Park lane,Dallas,No,Clothing,13,2,26,Card,1

Insere uma linha no DataFrame a partir de uma lista

In [47]:
lista = [None, None, None, None, None, None, None, None, None, None, None, None, None]
df.loc[len(df)] = lista

In [48]:
print(df)

     Invoice ID       Date   Time  Gender     Location     City Member  \
0     460489604  1/25/2018  16:46    Male   Brookfield  NewYork    Yes
1     471006167  3/19/2018  16:48  Female  Water tower  Chicago    Yes
2     411909258  2/25/2018  13:33    Male  Water tower  Chicago     No
3     487313402  1/22/2018  13:38  Female    Park lane   Dallas    Yes
4     197763430  2/18/2018  15:31  Female    Park lane   Dallas     No
...         ...        ...    ...     ...          ...      ...    ...
997    82324424   2/6/2018  11:44    Male   Brookfield  NewYork     No
998   783661702  1/29/2018  15:44  Female   Brookfield  NewYork     No
999   759171975  1/31/2018  10:13  Female  Water tower  Chicago    Yes
1000       None       None   None    None         None     None   None
1001       None       None   None    None         None     None   None

       Category Price Quantity Total Payment Rating
0     Groceries    30        1    30    Cash      2
1       Fashion    35        5   175    Card      3
2      Clothing    57        2   114    Cash      5
3      Sporting    89        4   356    Gpay      1
4         Books    82        5   410    Cash      4
...         ...   ...      ...   ...     ...    ...
997    Clothing    71        5   355    Card      3
998    Clothing    89        7   623    Cash      5
999    Clothing    31        7   217    Gpay      3
1000       None  None     None  None    None   None
1001       None  None     None  None    None   None

[1002 rows x 13 columns]

In [42]:
df.dropna()

,Invoice ID,Date,Time,Gender,Location,City,Member,Category,Price,Quantity,Total,Payment,Rating
0,460489604.0,1/25/2018,16:46,Male,Brookfield,NewYork,Yes,Groceries,30.0,1.0,30.0,Cash,2.0
1,471006167.0,3/19/2018,16:48,Female,Water tower,Chicago,Yes,Fashion,35.0,5.0,175.0,Card,3.0
2,411909258.0,2/25/2018,13:33,Male,Water tower,Chicago,No,Clothing,57.0,2.0,114.0,Cash,5.0
3,487313402.0,1/22/2018,13:38,Female,Park lane,Dallas,Yes,Sporting,89.0,4.0,356.0,Gpay,1.0
4,197763430.0,2/18/2018,15:31,Female,Park lane,Dallas,No,Books,82.0,5.0,410.0,Cash,4.0
5,263634050.0,3/9/2018,17:55,Male,Brookfield,NewYork,Yes,Clothing,52.0,4.0,208.0,Gpay,3.0
6,99646662.0,3/4/2018,13:21,Male,Water tower,Chicago,No,Clothing,81.0,3.0,243.0,Cash,4.0
7,188869875.0,3/8/2018,13:24,Male,Park lane,Dallas,No,Books,80.0,2.0,160.0,Cash,3.0
8,325637547.0,1/18/2018,15:33,Male,Park lane,Dallas,Yes,Clothing,91.0,3.0,273.0,Card,3.0
9,562942936.0,2/24/2018,16:05,Female,Park lane,Dallas,No,Books,80.0,2.0,160.0,Cash,4.0
10,388412668.0,2/26/2018,11:32,Female,Brookfield,NewYork,No,Furniture,35.0,4.0,140.0,Gpay,4.0
11,846531724.0,3/15/2018,12:12,Male,Park lane,Dallas,No,Sporting,22.0,5.0,110.0,Card,4.0
12,149894432.0,1/12/2018,11:12,Male,Park lane,Dallas,No,Clothing,77.0,5.0,385.0,Cash,4.0
13,942406749.0,1/18/2018,15:20,Female,Water tower,Chicago,Yes,Clothing,9.0,6.0,54.0,Gpay,5.0
14,547572603.0,3/21/2018,13:23,Female,Brookfield,NewYork,No,Fashion,98.0,7.0,686.0,Gpay,3.0
15,355981315.0,2/15/2018,15:47,Female,Brookfield,NewYork,Yes,Clothing,78.0,5.0,390.0,Card,5.0
16,397754805.0,2/9/2018,15:59,Female,Brookfield,NewYork,Yes,Sporting,35.0,7.0,245.0,Gpay,1.0
17,90524319.0,3/19/2018,18:18,Male,Park lane,Dallas,Yes,Clothing,23.0,1.0,23.0,Cash,3.0
18,542144906.0,2/6/2018,10:58,Female,Brookfield,NewYork,Yes,Fashion,33.0,5.0,165.0,Gpay,2.0
19,729486362.0,3/7/2018,12:50,Male,Water tower,Chicago,No,Groceries,39.0,4.0,156.0,Cash,3.0
20,619639105.0,3/26/2018,19:48,Female,Brookfield,NewYork,No,Groceries,44.0,6.0,264.0,Cash,1.0
21,443198801.0,2/24/2018,19:31,Female,Brookfield,NewYork,No,Clothing,48.0,5.0,240.0,Card,5.0
22,761515143.0,1/15/2018,16:08,Female,Park lane,Dallas,No,Groceries,23.0,1.0,23.0,Gpay,3.0
23,56578535.0,3/23/2018,10:11,Male,Water tower,Chicago,Yes,Groceries,24.0,1.0,24.0,Gpay,2.0
24,834838148.0,2/15/2018,13:00,Male,Brookfield,NewYork,Yes,Groceries,12.0,4.0,48.0,Card,1.0
25,833288071.0,1/25/2018,15:02,Male,Water tower,Chicago,No,Sporting,16.0,5.0,80.0,Gpay,2.0
26,508614950.0,1/24/2018,16:47,Female,Park lane,Dallas,No,Sporting,38.0,2.0,76.0,Cash,4.0
27,103072863.0,3/12/2018,11:57,Male,Water tower,Chicago,No,Groceries,41.0,6.0,246.0,Card,5.0
28,355815500.0,1/20/2018,15:09,Female,Park lane,Dallas,Yes,Furniture,16.0,6.0,96.0,Card,2.0
29,193855414.0,3/4/2018,12:04,Female,Brookfield,NewYork,Yes,Clothing,51.0,4.0,204.0,Card,2.0
30,600792216.0,3/6/2018,17:04,Male,Park lane,Dallas,Yes,Clothing,42.0,7.0,294.0,Card,5.0
31,567867755.0,2/3/2018,20:59,Female,Brookfield,NewYork,No,Furniture,86.0,3.0,258.0,Cash,2.0
32,597934753.0,3/26/2018,16:46,Female,Brookfield,NewYork,No,Clothing,19.0,6.0,114.0,Card,3.0
33,419033295.0,3/24/2018,15:57,Male,Water tower,Chicago,Yes,Furniture,68.0,2.0,136.0,Gpay,4.0
34,8795029.0,1/19/2018,17:03,Female,Brookfield,NewYork,No,Clothing,4.0,2.0,8.0,Card,2.0
35,912473338.0,2/25/2018,11:27,Male,Park lane,Dallas,No,Sporting,41.0,7.0,287.0,Gpay,1.0
36,209725428.0,3/20/2018,12:45,Female,Water tower,Chicago,Yes,Sporting,79.0,7.0,553.0,Gpay,1.0
37,460044751.0,2/22/2018,16:20,Male,Brookfield,NewYork,No,Fashion,45.0,5.0,225.0,Cash,4.0
38,191736512.0,2/14/2018,14:13,Female,Park lane,Dallas,No,Sporting,60.0,6.0,360.0,Cash,1.0
39,979973145.0,1/14/2018,19:26,Female,Brookfield,NewYork,Yes,Sporting,79.0,4.0,316.0,Gpay,4.0
40,43371182.0,1/28/2018,19:24,Male,Park lane,Dallas,Yes,Clothing,75.0,7.0,525.0,Cash,2.0
41,613811022.0,1/9/2018,20:55,Male,Water tower,Chicago,No,Clothing,24.0,7.0,168.0,Cash,4.0
42,673603546.0,3/26/2018,10:11,Female,Water tower,Chicago,No,Groceries,40.0,5.0,200.0,Gpay,1.0
43,328132417.0,1/3/2018,19:01,Female,Water tower,Chicago,No,Fashion,9.0,2.0,18.0,Cash,2.0
44,325924536.0,3/4/2018,10:38,Female,Park lane,Dallas,No,Clothing,16.0,7.0,112.0,Gpay,3.0
45,747705702.0,2/7/2018,13:57,Male,Brookfield,NewYork,Yes,Books,31.0,5.0,155.0,Gpay,1.0
46,450817216.0,2/7/2018,10:57,Female,Water tower,Chicago,Yes,Furniture,79.0,7.0,553.0,Gpay,4.0
47,315624039.0,3/30/2018,19:45,Female,Water tower,Chicago,Yes,Groceries,99.0,7.0,693.0,Gpay,3.0
48,888822600.0,1/12/2018,19:49,Female,Water tower,Chicago,No,Groceries,4.0,2.0,8.0,Card,5.0
49,896399395.0,2/15/2018,14:36,Male,Park lane,Dallas,Yes,Clothing,26.0,7.0,182.0,Cash,2.0
50,20548577.0,1/7/2018,14:00,Male,Park lane,Dallas,Yes,Furniture,43.0,2.0,86.0,Gpay,5.0
51,500850764.0,3/19/2018,14:04,Female,Water tower,Chicago,No,Groceries,67.0,1.0,67.0,Gpay,1.0
52,466598448.0,2/2/2018,18:50,Female,Brookfield,NewYork,No,Books,78.0,7.0,546.0,Gpay,5.0
53,265371038.0,2/26/2018,13:53,Male,Brookfield,NewYork,Yes,Sporting,29.0,1.0,29.0,Card,4.0
54,175938157.0,3/28/2018,12:58,Female,Brookfield,NewYork,Yes,Fashion,62.0,4.0,248.0,Gpay,5.0
55,839600262.0,1/5/2018,19:30,Female,Park lane,Dallas,Yes,Groceries,32.0,2.0,64.0,Cash,1.0
56,885253494.0,3/24/2018,12:52,Male,Park lane,Dallas,Yes,Sporting,53.0,1.0,53.0,Gpay,4.0
57,180545139.0,3/14/2018,10:46,Female,Brookfield,NewYork,Yes,Clothing,87.0,7.0,609.0,Gpay,1.0
58,227063423.0,1/16/2018,16:38,Male,Water tower,Chicago,No,Books,47.0,4.0,188.0,Gpay,3.0
59,500777576.0,3/22/2018,12:22,Female,Water tower,Chicago,No,Sporting,60.0,7.0,420.0,Gpay,5.0
60,426576006.0,1/22/2018,17:34,Female,Brookfield,NewYork,No,Sporting,21.0,1.0,21.0,Gpay,5.0
61,934647292.0,1/18/2018,11:26,Male,Water tower,Chicago,No,Fashion,59.0,6.0,354.0,Cash,4.0
62,975443414.0,3/30/2018,12:58,Male,Park lane,Dallas,No,Groceries,23.0,3.0,69.0,Card,2.0
63,858716993.0,2/3/2018,17:38,Male,Water tower,Chicago,Yes,Furniture,56.0,4.0,224.0,Gpay,4.0
64,776761484.0,1/29/2018,17:59,Female,Water tower,Chicago,No,Clothing,4.0,5.0,20.0,Gpay,5.0
65,798252244.0,1/23/2018,11:05,Male,Park lane,Dallas,Yes,Sporting,51.0,7.0,357.0,Gpay,2.0
66,595065138.0,2/17/2018,13:55,Male,Park lane,Dallas,No,Fashion,21.0,2.0,42.0,Gpay,3.0
67,366083315.0,3/11/2018,13:54,Female,Park lane,Dallas,No,Groceries,68.0,5.0,340.0,Gpay,3.0
68,746011173.0,2/17/2018,18:31,Male,Brookfield,NewYork,No,Books,51.0,7.0,357.0,Gpay,5.0
69,687132774.0,3/11/2018,13:21,Female,Park lane,Dallas,No,Sporting,26.0,2.0,52.0,Gpay,3.0
70,554361739.0,1/2/2018,17:24,Male,Brookfield,NewYork,Yes,Books,97.0,6.0,582.0,Cash,4.0
71,563130623.0,2/27/2018,10:41,Male,Park lane,Dallas,No,Furniture,23.0,5.0,115.0,Gpay,4.0
72,380354826.0,3/4/2018,12:10,Female,Water tower,Chicago,No,Fashion,28.0,7.0,196.0,Gpay,5.0
73,107399414.0,3/17/2018,10:16,Male,Brookfield,NewYork,Yes,Groceries,65.0,3.0,195.0,Card,2.0
74,851267575.0,1/7/2018,12:07,Male,Water tower,Chicago,No,Books,74.0,1.0,74.0,Gpay,5.0
75,437093770.0,2/7/2018,16:42,Female,Park lane,Dallas,Yes,Sporting,4.0,1.0,4.0,Cash,2.0
76,177764380.0,2/17/2018,17:37,Male,Water tower,Chicago,Yes,Furniture,50.0,4.0,200.0,Card,4.0
77,36054637.0,2/17/2018,11:15,Male,Water tower,Chicago,Yes,Clothing,56.0,5.0,280.0,Cash,5.0
78,127420911.0,2/21/2018,15:06,Male,Water tower,Chicago,Yes,Groceries,39.0,7.0,273.0,Cash,3.0
79,709746437.0,1/7/2018,13:22,Male,Park lane,Dallas,Yes,Groceries,39.0,5.0,195.0,Card,3.0
80,867695625.0,1/17/2018,19:46,Male,Water tower,Chicago,No,Clothing,36.0,7.0,252.0,Card,5.0
81,336967276.0,1/19/2018,17:54,Male,Brookfield,NewYork,No,Books,36.0,1.0,36.0,Cash,5.0
82,677779969.0,1/26/2018,17:08,Male,Water tower,Chicago,Yes,Books,14.0,2.0,28.0,Gpay,2.0
83,401666792.0,2/7/2018,12:17,Female,Brookfield,NewYork,Yes,Furniture,51.0,6.0,306.0,Gpay,2.0
84,616515038.0,3/10/2018,14:12,Female,Water tower,Chicago,Yes,Groceries,10.0,2.0,20.0,Cash,5.0
85,160906524.0,1/25/2018,11:51,Female,Park lane,Dallas,No,Fashion,25.0,7.0,175.0,Gpay,2.0
86,978363495.0,3/23/2018,14:13,Male,Water tower,Chicago,No,Groceries,9.0,3.0,27.0,Gpay,2.0
87,198509753.0,1/19/2018,17:10,Male,Park lane,Dallas,Yes,Furniture,11.0,5.0,55.0,Gpay,1.0
88,580839402.0,2/8/2018,18:30,Female,Brookfield,NewYork,No,Clothing,63.0,6.0,378.0,Card,5.0
89,533156738.0,3/24/2018,13:57,Male,Water tower,Chicago,No,Clothing,3.0,2.0,6.0,Cash,4.0
90,117522526.0,2/3/2018,10:40,Male,Park lane,Dallas,No,Books,13.0,3.0,39.0,Gpay,1.0
91,727593101.0,3/2/2018,16:06,Male,Park lane,Dallas,Yes,Groceries,77.0,2.0,154.0,Card,3.0
92,446636139.0,1/20/2018,16:51,Male,Brookfield,NewYork,Yes,Books,42.0,3.0,126.0,Card,1.0
93,993368037.0,1/26/2018,15:29,Female,Water tower,Chicago,Yes,Fashion,43.0,7.0,301.0,Gpay,3.0
94,435094946.0,1/12/2018,10:54,Male,Brookfield,NewYork,No,Sporting,80.0,6.0,480.0,Cash,5.0
95,842361554.0,1/14/2018,16:17,Male,Brookfield,NewYork,Yes,Clothing,5.0,1.0,5.0,Cash,2.0
96,964002523.0,3/4/2018,17:38,Male,Water tower,Chicago,No,Sporting,56.0,6.0,336.0,Cash,2.0
97,719679728.0,1/13/2018,15:29,Male,Water tower,Chicago,Yes,Books,87.0,5.0,435.0,Cash,4.0
98,748990073.0,3/12/2018,20:15,Male,Water tower,Chicago,No,Sporting,26.0,3.0,78.0,Cash,5.0
99,407802065.0,2/14/2018,18:03,Female,Brookfield,NewYork,No,Sporting,94.0,2.0,188.0,Gpay,3.0
100,515862366.0,2/12/2018,10:57,Female,Park lane,Dallas,No,Sporting,94.0,6.0,564.0,Card,3.0
101,42787009.0,3/28/2018,11:25,Female,Park lane,Dallas,Yes,Clothing,30.0,3.0,90.0,Card,5.0
102,780195692.0,2/20/2018,12:42,Female,Park lane,Dallas,No,Books,29.0,6.0,174.0,Cash,1.0
103,881639873.0,2/27/2018,15:05,Male,Park lane,Dallas,Yes,Fashion,64.0,1.0,64.0,Gpay,5.0
104,443388850.0,2/5/2018,16:31,Male,Brookfield,NewYork,Yes,Furniture,97.0,5.0,485.0,Card,4.0
105,635503529.0,3/24/2018,15:17,Male,Water tower,Chicago,No,Books,61.0,6.0,366.0,Cash,5.0
106,774895188.0,2/7/2018,20:29,Female,Brookfield,NewYork,Yes,Books,17.0,6.0,102.0,Card,1.0
107,194154086.0,2/11/2018,16:28,Female,Brookfield,NewYork,Yes,Furniture,4.0,5.0,20.0,Gpay,4.0
108,191782944.0,1/20/2018,19:28,Female,Brookfield,NewYork,Yes,Clothing,43.0,1.0,43.0,Card,1.0
109,949506131.0,2/8/2018,10:43,Male,Brookfield,NewYork,Yes,Sporting,50.0,6.0,300.0,Gpay,2.0
110,866328026.0,1/3/2018,14:41,Male,Water tower,Chicago,Yes,Sporting,61.0,1.0,61.0,Gpay,2.0
111,43708341.0,3/5/2018,15:54,Male,Park lane,Dallas,Yes,Groceries,37.0,3.0,111.0,Card,4.0
112,337106518.0,1/1/2018,12:08,Male,Water tower,Chicago,Yes,Groceries,19.0,3.0,57.0,Gpay,3.0
113,663329867.0,2/2/2018,14:27,Female,Brookfield,NewYork,Yes,Books,5.0,6.0,30.0,Gpay,3.0
114,419221776.0,1/31/2018,20:36,Female,Park lane,Dallas,Yes,Sporting,38.0,4.0,152.0,Cash,5.0
115,745600525.0,3/27/2018,13:45,Male,Park lane,Dallas,Yes,Sporting,75.0,7.0,525.0,Card,5.0
116,208190296.0,3/6/2018,13:05,Male,Brookfield,NewYork,No,Sporting,3.0,6.0,18.0,Card,2.0
117,4315051.0,2/6/2018,10:00,Male,Park lane,Dallas,No,Furniture,32.0,3.0,96.0,Gpay,1.0
118,456069400.0,3/9/2018,15:21,Female,Water tower,Chicago,No,Clothing,6.0,2.0,12.0,Cash,2.0
119,198592951.0,3/16/2018,15:53,Female,Brookfield,NewYork,Yes,Groceries,72.0,7.0,504.0,Cash,3.0
120,127206426.0,1/20/2018,18:17,Male,Park lane,Dallas,No,Clothing,70.0,1.0,70.0,Card,1.0
121,812090406.0,3/29/2018,12:32,Male,Park lane,Dallas,Yes,Fashion,67.0,5.0,335.0,Gpay,5.0
122,277220872.0,1/17/2018,19:08,Male,Park lane,Dallas,Yes,Clothing,15.0,6.0,90.0,Card,3.0
123,366492621.0,2/22/2018,20:18,Male,Water tower,Chicago,No,Clothing,5.0,5.0,25.0,Gpay,5.0
124,258316154.0,2/24/2018,18:24,Male,Water tower,Chicago,No,Fashion,1.0,7.0,7.0,Card,4.0
125,122309285.0,1/26/2018,15:07,Male,Water tower,Chicago,Yes,Furniture,54.0,2.0,108.0,Card,1.0
126,555703265.0,2/25/2018,19:48,Male,Brookfield,NewYork,No,Groceries,52.0,4.0,208.0,Gpay,3.0
127,911408389.0,2/27/2018,10:18,Male,Water tower,Chicago,Yes,Groceries,18.0,5.0,90.0,Card,2.0
128,675873533.0,3/2/2018,15:19,Female,Water tower,Chicago,No,Furniture,62.0,2.0,124.0,Card,4.0
129,866739244.0,1/2/2018,12:14,Female,Brookfield,NewYork,Yes,Books,14.0,7.0,98.0,Gpay,1.0
130,512879237.0,1/6/2018,20:37,Female,Park lane,Dallas,Yes,Fashion,86.0,6.0,516.0,Card,5.0
131,260820560.0,2/28/2018,20:21,Male,Park lane,Dallas,No,Clothing,29.0,5.0,145.0,Gpay,5.0
132,541985844.0,1/24/2018,13:22,Female,Brookfield,NewYork,No,Fashion,69.0,6.0,414.0,Gpay,1.0
133,9436913.0,1/27/2018,14:26,Female,Park lane,Dallas,No,Groceries,9.0,4.0,36.0,Cash,2.0
134,262498476.0,3/28/2018,13:23,Female,Park lane,Dallas,Yes,Books,59.0,7.0,413.0,Gpay,2.0
135,442355183.0,3/25/2018,14:48,Female,Brookfield,NewYork,Yes,Fashion,87.0,2.0,174.0,Cash,3.0
136,217802268.0,1/19/2018,12:20,Male,Water tower,Chicago,No,Furniture,70.0,3.0,210.0,Cash,2.0
137,68624343.0,3/8/2018,19:16,Male,Water tower,Chicago,No,Sporting,97.0,2.0,194.0,Gpay,4.0
138,48392594.0,2/4/2018,18:06,Female,Brookfield,NewYork,Yes,Clothing,49.0,7.0,343.0,Cash,1.0
139,478164051.0,1/25/2018,13:00,Male,Brookfield,NewYork,Yes,Books,6.0,6.0,36.0,Gpay,5.0
140,723722504.0,1/5/2018,20:50,Female,Water tower,Chicago,No,Furniture,3.0,2.0,6.0,Gpay,1.0
141,510014671.0,2/22/2018,19:12,Female,Brookfield,NewYork,No,Furniture,39.0,4.0,156.0,Gpay,4.0
142,895009015.0,3/13/2018,10:53,Female,Park lane,Dallas,Yes,Fashion,97.0,4.0,388.0,Card,5.0
143,995068874.0,1/31/2018,17:36,Male,Brookfield,NewYork,No,Furniture,34.0,6.0,204.0,Card,3.0
144,210787158.0,3/25/2018,19:17,Male,Park lane,Dallas,Yes,Clothing,15.0,5.0,75.0,Cash,4.0
145,939718527.0,3/3/2018,20:04,Female,Water tower,Chicago,Yes,Books,97.0,7.0,679.0,Cash,2.0
146,140174468.0,1/27/2018,20:29,Male,Brookfield,NewYork,No,Sporting,61.0,2.0,122.0,Cash,3.0
147,977135436.0,1/12/2018,19:25,Female,Park lane,Dallas,No,Sporting,38.0,3.0,114.0,Card,3.0
148,8832185.0,3/3/2018,11:23,Female,Park lane,Dallas,No,Fashion,44.0,4.0,176.0,Gpay,1.0
149,373494614.0,2/27/2018,12:21,Female,Park lane,Dallas,No,Fashion,49.0,2.0,98.0,Card,1.0
150,425924757.0,1/4/2018,16:47,Female,Park lane,Dallas,Yes,Groceries,67.0,4.0,268.0,Card,4.0
151,264102536.0,2/7/2018,19:28,Female,Brookfield,NewYork,No,Furniture,88.0,4.0,352.0,Cash,3.0
152,376560178.0,3/26/2018,10:00,Male,Water tower,Chicago,Yes,Books,2.0,2.0,4.0,Card,4.0
153,113991887.0,1/15/2018,18:43,Male,Brookfield,NewYork,No,Books,85.0,7.0,595.0,Card,4.0
154,985931753.0,2/2/2018,13:12,Male,Park lane,Dallas,No,Books,41.0,4.0,164.0,Card,2.0
155,482096810.0,1/25/2018,13:32,Female,Brookfield,NewYork,Yes,Clothing,91.0,4.0,364.0,Card,3.0
156,294501073.0,3/20/2018,19:50,Female,Water tower,Chicago,No,Sporting,21.0,1.0,21.0,Card,1.0
157,928762219.0,2/27/2018,14:55,Male,Brookfield,NewYork,Yes,Groceries,84.0,1.0,84.0,Card,5.0
158,487004803.0,1/17/2018,20:30,Male,Water tower,Chicago,No,Clothing,56.0,6.0,336.0,Gpay,2.0
159,582323814.0,1/13/2018,20:06,Male,Brookfield,NewYork,Yes,Fashion,5.0,4.0,20.0,Cash,2.0
160,513905846.0,1/28/2018,20:42,Female,Water tower,Chicago,Yes,Clothing,36.0,5.0,180.0,Card,3.0
161,289206319.0,1/11/2018,14:53,Male,Water tower,Chicago,No,Groceries,68.0,1.0,68.0,Cash,5.0
162,257338584.0,3/23/2018,10:09,Female,Water tower,Chicago,Yes,Books,34.0,3.0,102.0,Gpay,5.0
163,58932351.0,3/1/2018,15:39,Female,Water tower,Chicago,Yes,Fashion,32.0,1.0,32.0,Gpay,4.0
164,602936337.0,1/24/2018,15:42,Male,Water tower,Chicago,No,Sporting,17.0,6.0,102.0,Cash,1.0
165,404247810.0,3/5/2018,13:41,Male,Park lane,Dallas,No,Furniture,98.0,6.0,588.0,Gpay,5.0
166,465624646.0,1/19/2018,10:30,Female,Brookfield,NewYork,Yes,Books,67.0,7.0,469.0,Cash,3.0
167,219007732.0,3/16/2018,13:25,Male,Brookfield,NewYork,No,Clothing,71.0,1.0,71.0,Cash,4.0
168,916085444.0,3/20/2018,14:38,Male,Brookfield,NewYork,No,Fashion,91.0,4.0,364.0,Gpay,1.0
169,662413753.0,2/7/2018,18:14,Male,Brookfield,NewYork,Yes,Books,48.0,6.0,288.0,Gpay,1.0
170,702839682.0,3/29/2018,13:46,Female,Water tower,Chicago,Yes,Sporting,73.0,5.0,365.0,Card,5.0
171,585656963.0,1/10/2018,14:35,Female,Park lane,Dallas,Yes,Groceries,71.0,1.0,71.0,Card,5.0
172,253581497.0,1/24/2018,14:15,Male,Water tower,Chicago,Yes,Furniture,97.0,7.0,679.0,Cash,5.0
173,882131997.0,3/19/2018,18:31,Female,Brookfield,NewYork,Yes,Sporting,72.0,2.0,144.0,Gpay,4.0
174,462468336.0,2/2/2018,13:18,Male,Park lane,Dallas,Yes,Furniture,80.0,4.0,320.0,Card,2.0
175,629406644.0,2/11/2018,18:02,Male,Brookfield,NewYork,Yes,Groceries,30.0,4.0,120.0,Gpay,1.0
176,474601530.0,3/8/2018,15:18,Female,Brookfield,NewYork,No,Sporting,70.0,3.0,210.0,Gpay,4.0
177,462439346.0,3/6/2018,11:17,Male,Park lane,Dallas,Yes,Sporting,62.0,7.0,434.0,Cash,5.0
178,215114097.0,1/26/2018,20:24,Female,Park lane,Dallas,Yes,Fashion,4.0,6.0,24.0,Card,5.0
179,543642731.0,3/6/2018,15:48,Female,Park lane,Dallas,No,Books,25.0,4.0,100.0,Cash,1.0
180,481437943.0,1/10/2018,14:35,Female,Brookfield,NewYork,No,Clothing,58.0,4.0,232.0,Gpay,3.0
181,124926696.0,1/7/2018,18:14,Male,Water tower,Chicago,Yes,Groceries,36.0,5.0,180.0,Cash,5.0
182,129896806.0,1/27/2018,17:16,Female,Brookfield,NewYork,No,Groceries,93.0,4.0,372.0,Card,2.0
183,706578333.0,3/28/2018,11:12,Female,Water tower,Chicago,No,Sporting,61.0,1.0,61.0,Gpay,2.0
184,801334050.0,1/21/2018,20:18,Female,Park lane,Dallas,No,Furniture,1.0,1.0,1.0,Gpay,2.0
185,442630573.0,3/14/2018,13:58,Female,Park lane,Dallas,Yes,Furniture,42.0,4.0,168.0,Card,4.0
186,7730990.0,1/25/2018,18:35,Male,Water tower,Chicago,No,Groceries,8.0,7.0,56.0,Cash,2.0
187,805244200.0,1/28/2018,19:55,Female,Water tower,Chicago,Yes,Books,80.0,3.0,240.0,Card,4.0
188,458523449.0,2/25/2018,12:10,Female,Water tower,Chicago,Yes,Clothing,43.0,1.0,43.0,Card,1.0
189,762712864.0,1/18/2018,18:20,Female,Water tower,Chicago,No,Books,31.0,5.0,155.0,Gpay,3.0
190,660523948.0,3/27/2018,18:51,Female,Park lane,Dallas,No,Books,97.0,2.0,194.0,Cash,4.0
191,336253887.0,3/16/2018,13:14,Female,Brookfield,NewYork,No,Furniture,72.0,1.0,72.0,Card,1.0
192,951079308.0,1/2/2018,19:05,Female,Water tower,Chicago,No,Furniture,36.0,4.0,144.0,Gpay,5.0
193,447153891.0,1/11/2018,11:25,Male,Water tower,Chicago,No,Fashion,52.0,3.0,156.0,Cash,3.0
194,795528663.0,3/13/2018,19:15,Male,Brookfield,NewYork,No,Furniture,81.0,1.0,81.0,Gpay,4.0
195,343603860.0,2/4/2018,14:57,Female,Park lane,Dallas,No,Sporting,76.0,3.0,228.0,Card,3.0
196,925499362.0,1/12/2018,11:22,Female,Brookfield,NewYork,Yes,Clothing,78.0,4.0,312.0,Gpay,2.0
197,579316236.0,3/1/2018,13:44,Female,Water tower,Chicago,Yes,Books,77.0,4.0,308.0,Gpay,3.0
198,445531158.0,2/9/2018,20:19,Female,Park lane,Dallas,No,Fashion,27.0,7.0,189.0,Gpay,5.0
199,805526095.0,3/27/2018,18:00,Male,Park lane,Dallas,Yes,Furniture,56.0,1.0,56.0,Gpay,4.0
200,576523018.0,2/15/2018,12:35,Male,Water tower,Chicago,No,Groceries,82.0,1.0,82.0,Card,4.0
201,414119922.0,1/30/2018,11:07,Male,Water tower,Chicago,No,Sporting,44.0,7.0,308.0,Card,3.0
202,123247697.0,2/8/2018,20:03,Male,Brookfield,NewYork,No,Groceries,22.0,7.0,154.0,Card,5.0
203,40419058.0,1/26/2018,14:53,Male,Water tower,Chicago,Yes,Books,95.0,6.0,570.0,Card,1.0
204,890497298.0,2/25/2018,18:06,Female,Water tower,Chicago,No,Clothing,69.0,2.0,138.0,Cash,2.0
205,885702268.0,1/28/2018,12:45,Male,Brookfield,NewYork,No,Groceries,89.0,6.0,534.0,Card,1.0
206,172252194.0,3/22/2018,20:10,Female,Park lane,Dallas,No,Books,41.0,6.0,246.0,Card,4.0
207,866140211.0,2/25/2018,13:34,Female,Park lane,Dallas,No,Clothing,54.0,6.0,324.0,Gpay,4.0
208,597678548.0,3/15/2018,17:35,Male,Water tower,Chicago,Yes,Sporting,34.0,3.0,102.0,Cash,1.0
209,428818456.0,2/25/2018,18:50,Male,Park lane,Dallas,Yes,Books,94.0,5.0,470.0,Cash,2.0
210,236950025.0,3/9/2018,12:40,Female,Brookfield,NewYork,Yes,Furniture,76.0,4.0,304.0,Card,3.0
211,17451639.0,1/4/2018,14:58,Male,Water tower,Chicago,Yes,Groceries,68.0,3.0,204.0,Card,3.0
212,102177003.0,2/11/2018,13:48,Female,Water tower,Chicago,No,Furniture,25.0,5.0,125.0,Card,1.0
213,218871659.0,3/23/2018,13:58,Female,Park lane,Dallas,No,Clothing,88.0,2.0,176.0,Gpay,2.0
214,380559090.0,3/12/2018,20:21,Male,Brookfield,NewYork,No,Furniture,86.0,3.0,258.0,Card,5.0
215,503167669.0,2/3/2018,10:17,Female,Water tower,Chicago,Yes,Books,87.0,1.0,87.0,Card,4.0
216,717822067.0,1/17/2018,19:28,Female,Park lane,Dallas,No,Clothing,44.0,4.0,176.0,Gpay,1.0

Exclui duplicados

In [49]:
df.drop_duplicates()

,Invoice ID,Date,Time,Gender,Location,City,Member,Category,Price,Quantity,Total,Payment,Rating
0,460489604,1/25/2018,16:46,Male,Brookfield,NewYork,Yes,Groceries,30,1,30,Cash,2
1,471006167,3/19/2018,16:48,Female,Water tower,Chicago,Yes,Fashion,35,5,175,Card,3
2,411909258,2/25/2018,13:33,Male,Water tower,Chicago,No,Clothing,57,2,114,Cash,5
3,487313402,1/22/2018,13:38,Female,Park lane,Dallas,Yes,Sporting,89,4,356,Gpay,1
4,197763430,2/18/2018,15:31,Female,Park lane,Dallas,No,Books,82,5,410,Cash,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,556589713,2/20/2018,17:17,Male,Water tower,Chicago,Yes,Groceries,3,5,15,Gpay,3
997,82324424,2/6/2018,11:44,Male,Brookfield,NewYork,No,Clothing,71,5,355,Card,3
998,783661702,1/29/2018,15:44,Female,Brookfield,NewYork,No,Clothing,89,7,623,Cash,5
999,759171975,1/31/2018,10:13,Female,Water tower,Chicago,Yes,Clothing,31,7,217,Gpay,3
1000,None,None,None,None,None,None,None,None,None,None,None,None,None

Converte uma coluna em uma lista

In [50]:
df['Invoice ID'].tolist()

[460489604,
 471006167,
 411909258,
 487313402,
 197763430,
 263634050,
 99646662,
 188869875,
 325637547,
 562942936,
 388412668,
 846531724,
 149894432,
 942406749,
 547572603,
 355981315,
 397754805,
 90524319,
 542144906,
 729486362,
 619639105,
 443198801,
 761515143,
 56578535,
 834838148,
 833288071,
 508614950,
 103072863,
 355815500,
 193855414,
 600792216,
 567867755,
 597934753,
 419033295,
 8795029,
 912473338,
 209725428,
 460044751,
 191736512,
 979973145,
 43371182,
 613811022,
 673603546,
 328132417,
 325924536,
 747705702,
 450817216,
 315624039,
 888822600,
 896399395,
 20548577,
 500850764,
 466598448,
 265371038,
 175938157,
 839600262,
 885253494,
 180545139,
 227063423,
 500777576,
 426576006,
 934647292,
 975443414,
 858716993,
 776761484,
 798252244,
 595065138,
 366083315,
 746011173,
 687132774,
 554361739,
 563130623,
 380354826,
 107399414,
 851267575,
 437093770,
 177764380,
 36054637,
 127420911,
 709746437,
 867695625,
 336967276,
 677779969,
 401666792,
 616515038,
 160906524,
 978363495,
 198509753,
 580839402,
 533156738,
 117522526,
 727593101,
 446636139,
 993368037,
 435094946,
 842361554,
 964002523,
 719679728,
 748990073,
 407802065,
 515862366,
 42787009,
 780195692,
 881639873,
 443388850,
 635503529,
 774895188,
 194154086,
 191782944,
 949506131,
 866328026,
 43708341,
 337106518,
 663329867,
 419221776,
 745600525,
 208190296,
 4315051,
 456069400,
 198592951,
 127206426,
 812090406,
 277220872,
 366492621,
 258316154,
 122309285,
 555703265,
 911408389,
 675873533,
 866739244,
 512879237,
 260820560,
 541985844,
 9436913,
 262498476,
 442355183,
 217802268,
 68624343,
 48392594,
 478164051,
 723722504,
 510014671,
 895009015,
 995068874,
 210787158,
 939718527,
 140174468,
 977135436,
 8832185,
 373494614,
 425924757,
 264102536,
 376560178,
 113991887,
 985931753,
 482096810,
 294501073,
 928762219,
 487004803,
 582323814,
 513905846,
 289206319,
 257338584,
 58932351,
 602936337,
 404247810,
 465624646,
 219007732,
 916085444,
 662413753,
 702839682,
 585656963,
 253581497,
 882131997,
 462468336,
 629406644,
 474601530,
 462439346,
 215114097,
 543642731,
 481437943,
 124926696,
 129896806,
 706578333,
 801334050,
 442630573,
 7730990,
 805244200,
 458523449,
 762712864,
 660523948,
 336253887,
 951079308,
 447153891,
 795528663,
 343603860,
 925499362,
 579316236,
 445531158,
 805526095,
 576523018,
 414119922,
 123247697,
 40419058,
 890497298,
 885702268,
 172252194,
 866140211,
 597678548,
 428818456,
 236950025,
 17451639,
 102177003,
 218871659,
 380559090,
 503167669,
 717822067,
 690344669,
 142754784,
 167561353,
 254046171,
 854537427,
 747580730,
 709844678,
 367955130,
 504897642,
 747422231,
 811044705,
 127073944,
 871865175,
 620285039,
 819356401,
 911826601,
 669032497,
 225317134,
 653059896,
 127629037,
 758557542,
 565456402,
 194348272,
 193544907,
 856147365,
 6282900,
 467919747,
 927773751,
 794563981,
 956599137,
 324945582,
 759811716,
 869486626,
 28957439,
 186033359,
 164945303,
 702697570,
 867298669,
 636062627,
 338808619,
 874941247,
 154062156,
 309278030,
 408055541,
 304439467,
 790571300,
 554782714,
 407767721,
 976927980,
 882195569,
 830582585,
 847040407,
 169212942,
 953734168,
 638590060,
 931257784,
 750628254,
 770662321,
 83503308,
 412890331,
 495407670,
 248326361,
 815235226,
 602216707,
 593868358,
 193869187,
 197573958,
 285192890,
 711435779,
 44612623,
 35014815,
 167762066,
 11921691,
 341819247,
 85210798,
 994218721,
 535101024,
 410200704,
 886247303,
 671810515,
 198515038,
 601235443,
 135954136,
 574582487,
 479562097,
 502303917,
 974725596,
 696537741,
 526319290,
 713844700,
 43827556,
 477509532,
 44171400,
 153179845,
 117928091,
 934709822,
 810206591,
 356354089,
 443595980,
 198739739,
 78470616,
 918276539,
 654769276,
 674917531,
 456554642,
 36650026,
 281704062,
 829100088,
 57624229,
 106617595,
 421671027,
 31744605,
 861879814,
 450751838,
 97675796,
 984776599,
 257572368,
 562957126,
 195736009,
 2901533,
 674079919,
 695051096,
 641757008,
 824317466,
 68184042,
 221236147,
 655804460,
 685355728,
 779568185,
 978367775,
 504581657,
 109398336,
 932692079,
 698871347,
 162175366,
 232489616,
 129579696,
 728354527,
 684643372,
 516381043,
 651691190,
 451407692,
 905773587,
 384317890,
 768931253,
 236780335,
 269353290,
 655696962,
 39980231,
 257066068,
 227543927,
 652794877,
 680516215,
 238225027,
 655465754,
 506086474,
 174529819,
 50717104,
 158853558,
 494243757,
 308815481,
 66715258,
 984652834,
 220725507,
 721856885,
 376812677,
 483683998,
 50938395,
 875705737,
 284834144,
 720008984,
 512270617,
 83087091,
 980805952,
 873393858,
 293869367,
 851846362,
 929834878,
 539267224,
 73853764,
 344986480,
 308591699,
 894833640,
 648725310,
 196926207,
 771290209,
 970507874,
 743057968,
 275243680,
 933497703,
 942593948,
 437120776,
 232051542,
 224808763,
 446141418,
 365905322,
 850283822,
 180358734,
 396167986,
 715102058,
 257556227,
 816349456,
 700946312,
 567888249,
 53895458,
 466204296,
 552810173,
 340961943,
 279515562,
 341665434,
 689943317,
 889075720,
 934951636,
 127091451,
 136871602,
 354394929,
 458245119,
 115408508,
 451887581,
 990325172,
 162506569,
 750613805,
 436393848,
 999023942,
 142065472,
 954425515,
 594159553,
 887631897,
 566548997,
 283618078,
 367742401,
 970329849,
 599614471,
 789777993,
 324836028,
 421646627,
 402693529,
 434659485,
 19060686,
 721015243,
 813988025,
 52015959,
 207722768,
 419393017,
 329091275,
 140726998,
 473326547,
 905833326,
 951990735,
 224237578,
 66129710,
 255215946,
 333840821,
 117770025,
 961791428,
 297913519,
 371777788,
 207465625,
 711170035,
 767992235,
 101181180,
 764557539,
 648584786,
 758614852,
 282169081,
 392872067,
 420364596,
 741634505,
 554747535,
 939400968,
 597263687,
 92938418,
 416916918,
 585382118,
 342332555,
 405920104,
 566171221,
 379272141,
 720089935,
 872530273,
 337208704,
 173188859,
 253349866,
 664675610,
 67305392,
 780847506,
 760815139,
 558305760,
 225685706,
 187709802,
 341556579,
 8348928,
 54357163,
 813009806,
 611755583,
 504726757,
 285259108,
 148516620,
 944594455,
 317999524,
 222207991,
 580338541,
 515937823,
 677762983,
 106004790,
 837769142,
 416455705,
 17738524,
 217203015,
 307120566,
 955096223,
 168568639,
 613417869,
 398685229,
 549324879,
 282649788,
 746691205,
 261411790,
 274303941,
 834905658,
 461308403,
 402577239,
 226194186,
 259223127,
 33596994,
 188681488,
 344018383,
 652344775,
 982619463,
 778986959,
 230034350,
 505330940,
 354305028,
 774570372,
 810322530,
 607275572,
 61448841,
 753449647,
 385301688,
 106779665,
 648139072,
 906293682,
 734143201,
 213757068,
 539555519,
 187418894,
 457563015,
 177467181,
 436716459,
 752220527,
 670227755,
 986239732,
 20632381,
 964883376,
 487019311,
 700177218,
 541459341,
 929160771,
 486660199,
 450190302,
 185626182,
 320206656,
 481709660,
 915042564,
 337543764,
 276890647,
 475698242,
 522650837,
 982386222,
 251721361,
 646176653,
 712707662,
 532568082,
 9448427,
 556712257,
 344763004,
 302922787,
 415609214,
 571374380,
 739222343,
 708221956,
 262731416,
 622007693,
 898288915,
 11556830,
 144597774,
 61600371,
 169697714,
 113236778,
 307925289,
 326311886,
 988159876,
 437241799,
 486005290,
 524232746,
 357755511,
 445899503,
 950297423,
 870706788,
 423084173,
 693339406,
 403665053,
 98053785,
 817802098,
 614410397,
 882885054,
 581788719,
 476245246,
 438129906,
 538260504,
 945941125,
 247158611,
 713366374,
 14609870,
 336836343,
 958121296,
 939338787,
 170601848,
 387707923,
 545078026,
 704651116,
 42349908,
 135768329,
 483457878,
 555960560,
 282376295,
 798873199,
 35680963,
 541013147,
 786500499,
 370671668,
 764424609,
 661405,
 858902305,
 451143604,
 351840920,
 720613115,
 59555036,
 593682157,
 11986994,
 996041528,
 828419755,
 720387839,
 687050813,
 510821622,
 87236970,
 833998175,
 777524991,
 188038628,
 282446743,
 337885011,
 372301333,
 329548692,
 751714562,
 764808876,
 816729463,
 429753844,
 871734799,
 610628170,
 985003081,
 22386421,
 176429191,
 270918350,
 807807551,
 798981206,
 522353295,
 786464271,
 446983200,
 23845634,
 422068723,
 217846748,
 6028484,
 962722016,
 866434633,
 989851843,
 818588106,
 640968118,
 313217211,
 473189761,
 166640927,
 751965233,
 32111135,
 404017492,
 745923301,
 947595754,
 665212090,
 481017545,
 318193227,
 60015389,
 687175376,
 625292695,
 768261771,
 27577314,
 430740110,
 940094586,
 218287621,
 427648981,
 480994615,
 365411914,
 942651953,
 555194821,
 535703316,
 386701465,
 573799925,
 928380831,
 279211087,
 927553480,
 492756803,
 951090173,
 423886295,
 732840126,
 357595679,
 217121383,
 835758996,
 131904342,
 438954986,
 601973638,
 579955941,
 60603435,
 803774146,
 855506655,
 796729861,
 616530004,
 416735444,
 882395212,
 550324994,
 223490764,
 913471517,
 277181456,
 180617103,
 689330907,
 140416946,
 966860394,
 231410575,
 55450556,
 553254260,
 6317758,
 729471316,
 156866460,
 219223209,
 670571204,
 444818981,
 238431080,
 478134181,
 992649067,
 775497478,
 805827970,
 282745572,
 807074233,
 68988140,
 129220940,
 861236276,
 176302111,
 517625228,
 462941880,
 622823966,
 801096383,
 246818576,
 96360197,
 162150706,
 645707148,
 852583661,
 809084276,
 808877527,
 544850143,
 438824651,
 167903678,
 415999917,
 1868293,
 155011528,
 373388134,
 983716348,
 736089054,
 341336897,
 40817488,
 275252707,
 792274763,
 651134698,
 383124512,
 796865298,
 186195140,
 939286972,
 752790123,
 386315734,
 127734567,
 280541372,
 395138851,
 182431288,
 836579192,
 213106322,
 567239406,
 932934368,
 845411807,
 190587018,
 884623874,
 438545442,
 471675423,
 269269953,
 872296387,
 428433770,
 831348901,
 257959706,
 217009871,
 315410869,
 366811443,
 914016320,
 144547638,
 88831545,
 365754742,
 281937481,
 678754147,
 68988075,
 359235143,
 939774850,
 278317061,
 368853285,
 604340487,
 743868871,
 492810637,
 687348438,
 80579422,
 643832293,
 831268468,
 492882170,
 558983653,
 277407654,
 994560802,
 746727595,
 339046235,
 348768896,
 987110291,
 62873821,
 191002335,
 244033511,
 393987266,
 604309839,
 889591111,
 944196014,
 286183474,
 75267883,
 480320443,
 58389350,
 799871468,
 884774543,
 80389415,
 719326156,
 424714026,
 928927387,
 583805255,
 157966851,
 431796363,
 467636158,
 113865610,
 5906917,
 673511320,
 256137022,
 446058586,
 761671458,
 195735654,
 432408930,
 910566694,
 401049714,
 716893489,
 658692054,
 475942982,
 811797998,
 49010573,
 668627461,
 814161168,
 589485033,
 962620975,
 681108606,
 152123727,
 743948077,
 830395693,
 107754660,
 625844840,
 34774979,
 623619957,
 602986760,
 670908567,
 979420786,
 481154948,
 784007917,
 706434356,
 59014816,
 122276077,
 882557922,
 999665753,
 284607690,
 832788886,
 181135218,
 134430315,
 80554322,
 618080777,
 333447274,
 949102124,
 391923538,
 387274915,
 572172070,
 158330556,
 29270534,
 709410494,
 366683041,
 127682185,
 526803787,
 765581059,
 309210649,
 431475356,
 208922967,
 610220641,
 879983464,
 891469665,
 735300355,
 750235304,
 270212524,
 767705654,
 126122660,
 352435324,
 626352806,
 652672609,
 156806665,
 97731114,
 919895826,
 406115322,
 55446109,
 814814063,
 144017872,
 160173319,
 636443509,
 546550680,
 691728724,
 23179110,
 360225633,
 629076954,
 579735898,
 615324500,
 321636517,
 696587127,
 648059805,
 980537272,
 838547209,
 264069155,
 987505479,
 736292714,
 137417145,
 685746853,
 625417060,
 546718114,
 613986911,
 838746464,
 934711328,
 134230335,
 284977676,
 839513398,
 322006600,
 81079897,
 340617715,
 464762614,
 497734676,
 614557665,
 158012185,
 719253789,
 34442223,
 418253101,
 741817151,
 169440268,
 979059991,
 266635768,
 321374195,
 245049016,
 737210,
 941364541,
 752407865,
 699906043,
 927909627,
 455112063,
 446582560,
 818829599,
 556589713,
 82324424,
 783661702,
 759171975,
 ...]

Group By com Pandas

In [57]:
df.groupby(['City'])['City'].count()

City
Chicago    328
Dallas     332
NewYork    340
Name: City, dtype: int64

Group By com PandaSQL

In [56]:
from pandasql import PandaSQL
pdsql = PandaSQL()
query = "SELECT COUNT(City), City FROM df GROUP BY City"
df_final = pdsql(query)
print(df_final)

   COUNT(City)     City
0          328  Chicago
1          332   Dallas
2          340  NewYork